.custom-layout
{
    padding-top: 92px;
}

.custom-layout--hero
{
    padding-bottom: 210px;
}

.custom-layout--description
{
    top: -130px;
}

.custom-layout--swagger--description
{
    background: #f5f7fa;
}

.swagger-ui .loading-container
{
    margin-top: 0 !important;
}

@media screen and (max-width: 767px) {
  .swagger--head-card {
    top: 0;
  }
}