.swagger-ui .loading-container {
  margin-top: 0 !important;
}

.swagger--head-card {
  top: -120px;
  margin-bottom: -36px;
}

.swagger--head-card a:link,
.swagger--head-card a:visited,
.swagger--head-card a:hover,
.swagger--head-card a:active {
  color: #06c;
}
