.swagger--hero .Button
{
    font-weight: bold;

    top: 1.4rem;
    right: 0;

    text-transform: initial;
}

.swagger--hero .swagger--hero-pill
{
    font-size: 11px;
    font-weight: 600;
    line-height: 11px;

    min-width: 24px;
    height: 16px;
    margin-top: 20px;

    text-align: center;
    vertical-align: top;
}

.swagger--hero .swagger--hero-summary
{
    color: #455b71;
}

.swagger--hero .text-overflow-wrap
{
    overflow-wrap: break-word;
}

.swagger--hero .renderedMarkdown h1,
.swagger--hero .renderedMarkdown h2,
.swagger--hero .renderedMarkdown h3,
.swagger--hero .renderedMarkdown h4,
.swagger--hero .renderedMarkdown h5,
.swagger--hero .renderedMarkdown h6
{
    margin-top: 2.4rem;

    color: black;
}

.swagger--hero .renderedMarkdown ol,
.swagger--hero .renderedMarkdown ul
{
    padding-left: 2.0rem;

    list-style: disc;
}

.swagger--hero .swagger--hero--card-legend
{
    font-size: 20px;
    line-height: 20px;

    top: -13px;
    left: 13px;

    padding: 0 20px;

    letter-spacing: 1.11px;

    color: #17324d;
    background-color: #fff;
}

.swagger--hero .swagger--hero--card-description {
	color: #455B71;
	font-size: 16px;
	line-height: 24px;
}

.swagger--hero .swagger--hero--card-platform-link {
	height: 27px;
	color: #0073E6;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.29px;
	line-height: 27px;
}
