<img src="/assets/images/serp_no results.svg"></img>
<h1>Ops! {{ title }}</h1>
<p class="font-serif content-text">
  {{ message }}
</p>
<a href="#" class="btn btn-primary search-form" data-toggle="modal" data-backdrop="false" data-target="#searchModal">
  {{ cta }}
</a>
