<a href="{{ path }}">
  <svg class="icon icon-sm">
    <use xlink:href="/assets/svg/sprite.svg#it-search"></use>
  </svg>
  <span class="results {{ categoryClass }}">{{{ name }}}</span>
  <span class="">{{ category }}</span>
</a>
