version: "3.3"

services:
  developers.italia.it:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/usr/src/developers.italia.it
    environment:
      - JEKYLL_NO_GITHUB=true
      - JEKYLL_ENV=dev
      - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    networks:
      - web

networks:
  web:
    external:
      name: developers-italia-backend_web
