version: '3.3'

services:

  devita_website:
    image: italia/developers.italia.it
    container_name: devita_website
    build:
      context: ./
      dockerfile: Dockerfile
    user: "${RUNAS?Try $ echo RUNAS=$(id -u):$(id -g) >> .env}"
    env_file:
      - .env
    ports:
      - 4000:4000
    # By default, we mount all the working dir to
    # facilitate local development. Then, we exclude
    # folders which content changes through a build:
    # assets, _data, node_modules, vendor
    volumes:
      - .:/usr/src/developers.italia.it
      - /usr/src/developers.italia.it/_data/crawler
      - /usr/src/developers.italia.it/node_modules
      - /usr/src/developers.italia.it/vendor
    networks:
      - overlay

networks:
  overlay:
