{% assign extraclass = include.extraclass | default:'pt-2 pb-2 pt-md-5 pb-md-5' %}
<section class="banner-joinus {{extraclass}}">
  <div class="container bg-white mt-3 mt-md-5 mb-3 mb-md-5 p-4 p-md-5 p-4 p-md-5">
    <div class="d-md-flex align-items-center">
      <div class="position-relative">
        <img src="{{'/assets/images/join-window.svg' | relative_url}}" alt="" class="banner-joinus-window">
        <h2>{{t.banner_joinus_h2}}</h2>
        <h1>{{t.banner_joinus_h1}}</h1>
      </div>
      <div class="ms-auto">
        <a href="https://slack.developers.italia.it/" class="btn btn-primary ps-5 pe-5 mt-1 mt-md-4">
          {{t.banner_joinus_action}}
          <svg class="icon">
            <use xlink:href="/assets/svg/sprites.svg#it-comment"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</section>
