{% include setlang.html %}

<section class="home-discuss">
    <div class="container">
        <div class="d-flex align-items-baseline titlewrapper mb-3 mb-md-5">
            <h1>{{t.participate}}</h1>
            <!--
            <a href="/it/come-partecipo" class="ms-auto more">Come partecipo &rarr;</a>
            -->
        </div>
        <div class="row row-eq-height">
            {% for tool in site.data.tools[active_lang] %}
            <div class="col-sm-6 col-md-6 col-lg-3 my-3 mb-md-4 my-md-0 px-3">
                <a target="_blank" href="{{ tool.url }}" class="decoration-none" title="{{ tool.title }}">
                    <article class="d-flex flex-column align-items-start h-100 bg-white p-2 p-4 ">
                        <figure class="d-flex w-100 align-items-center">
                            <img src="{{ tool.img | relative_url}}" alt="{{ tool.alt }}" height="32">
                        </figure>
                        <div class="decoration-none">{{tool.subtitle | markdownify}}</div>
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
