{% assign extraclass = include.extraclass | default:'' %}
<section class="banner-joinus {{extraclass}}">
    <div class="container">
        <div class="row">
            <div class="col-sm  px-3">
                <div class="align-items-center">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h1 class="text-center px-2 px-md-4 mt-auto">{{t.banner_PNRR_h1}}</h1>
                            <div class="flex-fill font-serif mt-1 mb-1 alternateblock__text text-center px-2 px-md-4">{{t.banner_PNRR_h2}}</div>
                            <div class="px-2 px-md-4 mt-4 text-center mx-md-5">
                                <a href="/it/search?pnrr=1" class="btn btn-primary me-3 mt-2 w-100">Esplora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
