<div class="banner-survey position-relative overflow-hidden">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12 col-lg-7 col-xl-6 order-2 order-lg-1 pe-3 pe-lg-0 ps-3 ps-lg-0">
          <div class="it-hero-text-wrapper">
            <div class="banner-survey__title-wrapper">
              <h2 class="h2">Aiutaci a migliorare i nostri siti</h2>
            </div>
            <p class="pt-2 pb-2pt-lg-3 pb-lg-3 pe-3 pe-lg-0">
              Partecipa al sondaggio e condividi la tua opinione sui siti del Dipartimento per la trasformazione digitale. Ci vorranno solo 2 minuti!
            </p>
            <div class="it-btn-container pt-3 pt-lg-0 mb-2">
              <a class="btn btn-sm btn-primary" rel="noopener" href="https://ec.europa.eu/eusurvey/runner/redesignsitidipartimento" title="Partecipa al sondaggio" target="_blank">
                Partecipa al sondaggio
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 col-xl-6 order-1 order-lg-2">
          <div class="d-flex justify-content-end position-relative w-100">
            <div class="banner-survey__shape"></div>
            <img class="banner-survey__image pe-3 pe-lg-0 mt-lg-3" src="{{ site.baseurl }}/assets/images/survey.png" alt="Immagine Survey" />
          </div>
        </div>
      </div>
    </div>
</div>