{% assign extraclass = include.extraclass | default:'pt-2 pb-2 pt-md-5 pb-md-5' %}
<section class="banner-joinus {{extraclass}}">
  <div class="container bg-white mt-3 mt-md-5 mb-3 mb-md-5 p-4 p-md-5 p-4 p-md-5">
    <div class="d-md-flex align-items-center">
      <div class="position-relative">
        <img src="{{'/assets/images/pad2026-C.svg' | relative_url}}" alt="" height="100" class="banner-joinus-window">
        <h2>{{t.banner_PNRR_h2}}</h2>
        <h1>{{t.banner_PNRR_h1}}</h1>
      </div>
      <div class="ml-auto">
        <a href="/it/search?pnrr=1" class="btn btn-primary pl-5 pr-5 mt-1 mt-md-4">
          {{t.banner_PNRR_action}}
          <svg class="icon">
            <use xlink:href="/assets/svg/sprite.svg#it-comment"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</section>
