{% assign extraclass = include.extraclass | default:'pt-2 pb-2 pt-md-5 pb-md-5' %}
<section class="banner-joinus {{extraclass}}">
  <div class="container bg-white mt-3 mt-md-5 mb-3 mb-md-5 p-4 p-md-5 p-4 p-md-5">
    <div class="d-md-flex align-items-center">
      <div class="position-relative">
        <img src="{{'/assets/images/join-window.svg' | relative_url}}" alt="{{t.image}}" class="banner-joinus-window">
        <p class="h1">Progettiamo insieme il nuovo Docs Italia</p>
        <p class="pt-2 pb-2 pt-lg-3 pb-lg-3 pe-3 pe-lg-0">24 novembre - 1° dicembre 2025</p>
        <p class="pt-2 pb-2 pt-lg-3 pb-lg-3 pe-3 pe-lg-0">PARTECIPA A UN BREVE QUESTIONARIO ONLINE PER AIUTARCI A RIPROGETTARE LA PIATTAFORMA DOCS ITALIA PER MIGLIORARE LA CREAZIONE E FRUIZIONE DEI DOCUMENTI PUBBLICI DIGITALI</p>
      </div>
      <div class="ms-auto">

      </div>
    </div>
    <div class="d-md-flex align-items-center" style="flex-direction: column;">
            <div class="it-btn-container pt-3 pt-lg-0 mb-2">
              <a class="btn btn-sm btn-primary" rel="noopener" href="" title="Partecipa al questionario" target="_blank">
                Partecipa al questionario
              </a>
            </div>
    </div>

  </div>
</section>
