<article class="newscard {{include.classes}} {% if include.flat != true %}newscard--w-shadow{% endif %}">
  <div class="d-flex newscard__top py-2 ">
    {% if include.date %}
    <time datetime="{{ include.date | date_to_xmlschema }}" class="ms-auto">
      {{ include.date | localize: active_lang, ":short_date" }}
    </time>
    {% endif %}
  </div>
  {% if include.hasImage != false %}
  <figure class="img-fluid">
    <a href="{{ include.link }}" title="{{ include.title }}">
      <img src="{{ include.image | default: //placehold.it/400x220 }}" class="u-sizeFull" alt="{{ include.alt }}" />
    </a>
  </figure>
  {% endif %}
  <h1 class="pe-0 pe-md-2"><a href="{{ include.link }}">{{ include.title }}</a>
    {% if include.comingsoon %}
    <span class="badge bg-secondary">{{ t.coming_soon }}</span>
    {% endif %}
  </h1>
  <main class="font-sans-serif">
    {% if include.text != '' %}
    {{ include.text }}
    {% endif %}
  </main>
  <div class="py-2 mt-auto d-flex w-100">
    {% if include.author %}
    {% assign p = site.data.people[include.nickname] %}
    <div class="d-flex align-items-center" style="gap: 1rem;">
      <div class="avatar avatar-primary size-lg outline-border">
        {% if p %}
        <img src="{{p.pic}}" alt="{{ t.profile_image }} {{ p.name }}" class="img-fluid">
        {% else %}
        <p aria-hidden="true">{{ include.author| slice: 0 }}</p>
        {% endif %}
      </div>
      <div class="newscard__author font-sans-serif ">
        <span>{{ t.by }} {{ include.author }}</span>
      </div>
    </div>
    {% endif %}
    {% if include.cta %}
    <div class="newscard__cta ms-auto ">
      <a href="{{include.cta.url}}" title="{{include.cta.label}}">{{include.cta.label}}</a>
    </div>
    {% endif %}
  </div>
  {% if include.hasMore != false %}
  <div class="newscard__more py-1 ">
    <a href="{{ include.link }}">{{ t.software.read_more}} &rarr;</a>
  </div>
  {% endif %}

</article>
