{% if page.github_team %}
{% assign team = site.data.github_teams | where: "slug", page.github_team %}
{% assign team_members = team.first.members %}

{% if team_members.size > 0 %}
<div class="project__leaders mt-md-0 mt-4">
	<h6 class="mb-3">{{  t.project_leader }} </h6>
	<div id="projectLeadersIndicator">
    <ul class="list-unstyled">
      {% for member in team_members %}
      <li class="d-flex project__leaders__item mb-3">
        <a href="{{ member.html_url }}" title="{{ member.login }}" target="_blank"><img width="50"
            src="{{ member.avatar_url }}&s=50" alt="{{ member.login }}"></a>
        <div class="ms-2 d-flex">
          <a href="{{ member.html_url }}" title="{{ member.login }}" target="_blank"
            class="align-self-center">{{ member.name | default: member.login }}</a>
        </div>
      </li>
      {% endfor %}
    </ul>
	</div>
</div>
{% endif %}
{% endif %}
