{% assign network_links = site.data.network_links %}

<header class="primary-bg">
  <div class="it-header-slim-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <div class="navbar-brand d-none d-lg-block"><span><a target="_blank" class="me-2"
                  href="{{ site.owner_link }}" rel="noreferrer">{{ site.owner_full }}</a>+<a target="_blank"
                  class="ms-2" href="{{ site.partner_link }}t" rel="noreferrer">{{ site.partner_short }}</a></span>
            </div>
            <div class="nav-mobile">
              <nav aria-label="Navigazione secondaria">
                <div class="d-flex align-items-center">
                  <div class="navbar-brand d-lg-none"><span><a target="_blank" class="p-2" href="{{ site.owner_link }}"
                        rel="noreferrer">{{ site.owner_short }}</a> <!-- -->+<!-- -->
                      <a target="_blank" class="p-2" href="{{ site.partner_link }}" rel="noreferrer">{{
                        site.partner_shrt }}</a></span></div><a class="it-opener d-lg-none p-2 collapsed" href="#menuC2"
                    role="button" aria-expanded="false" aria-controls="menuC2" data-focus-mouse="false"><span
                      class="visually-hidden">Apri/chiudi menu
                      secondario</span><svg role="img" class="icon">
                      <use href="/assets/svg/sprites.svg#it-expand"></use>
                    </svg></a>
                </div>
                <div class="link-list-wrapper collapse" id="menuC2">
                  {% include network-links-menu.html class='link-list' %}
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              {% include lang_switch.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Header-navbar ">
    <div class="container d-flex align-items-center">
      <div class="Header-hamb ml-3 mr-3 d-block d-lg-none">
        <a href="#" data-activate-element data-activate-noscroll="true" data-activeid="offcanvasMenu"><img
            class="Header-hamb__icon" alt="Menu" src="{{'/assets/icons/hamburger-icon.svg' | relative_url}}"></a>
      </div>
      <div class="Header-logo mr-2 mr-md-3" aria-hidden="true">
        <a href="{{ '/' | relative_url }}" tabindex="-1">
          <img src="{{ site.logo | default: '//designer.italia.it/images/loghi/logo-it.svg' }}" alt="">
        </a>
      </div>

      <div class="Header-title mr-auto">
        <h1 class="Header-titleLink">
          <a href="{{ '/' | relative_url }}">{{ t.site_title | default: site.title | escape }}
            {% if site.pill != "" and site.pill != nil %}
            <span class="badge badge-pill badge-primary primary-bg-a7 d-none d-sm-inline-block">{{ site.pill }}</span>{%
            endif %}
          </a>
          <span class="d-none d-lg-block Header-subtitle">{{ t.site_subtitle | default: site.subtitle | escape }}</span>
        </h1>
      </div>

      <div class="Header-utils mr-2 mr-md-4 d-none d-lg-block">
        <div class="Header-social ">
          {% include social-icons.html social_items=site.data.social follow_us_text=t.follow_us %}
        </div>
      </div>
      {% if include.hasSearch %}
      <div class="Header-search ml-4 mb-0" id="header-search">
        <custom-search></custom-search>
      </div>
      {% endif %}

    </div>
  </div>
  <!-- Header-navbar -->

</header>