{% assign network_links = site.data.network_links %}

<header class="primary-bg">
  <div class="it-header-slim-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <div class="navbar-brand d-none d-lg-block"><span><a target="_blank" class="me-2"
                  href="{{ site.owner_link }}" rel="noreferrer">{{ site.owner_full }}</a>+<a target="_blank"
                  class="ms-2" href="{{ site.partner_link }}t" rel="noreferrer">{{ site.partner_short }}</a></span>
            </div>
            <div class="nav-mobile">
              <nav aria-label="Navigazione secondaria">
                <div class="d-flex align-items-center">
                  <div class="navbar-brand d-lg-none"><span><a target="_blank" class="p-2" href="{{ site.owner_link }}"
                        rel="noreferrer">{{ site.owner_short }}</a> <!-- -->+<!-- -->
                      <a target="_blank" class="p-2" href="{{ site.partner_link }}" rel="noreferrer">{{
                        site.partner_short }}</a></span></div><a class="it-opener d-lg-none p-2 collapsed" href="#menuC2" data-bs-toggle="collapse"
                    role="button" aria-expanded="false" aria-controls="menuC2" data-focus-mouse="false"><span
                      class="visually-hidden">Apri/chiudi menu
                      secondario</span><svg role="img" class="icon">
                      <use href="/assets/svg/sprites.svg#it-expand"></use>
                    </svg></a>
                </div>
                <div class="link-list-wrapper collapse" id="menuC2">
                  {% include network-links-menu.html class='link-list' %}
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              {% include lang_switch.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper ">
      <div class="container-xxl">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper"><a href="{{ '/' | relative_url }}"><img
                    src="{{ site.logo | default: '//designer.italia.it/images/loghi/logo-it.svg' }}" alt="" class="icon">
                  <div class="it-brand-text">
                    <div class="it-brand-title">{{ t.site_title | default: site.title | escape }}</div>
                    <span class="d-none d-lg-block Header-subtitle">{{ t.site_subtitle | default: site.subtitle | escape }}</span>
                  </div>
                </a></div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex"><span>{{ t.follow_us | capitalize }}</span>
                  {% include social-icons.html social_items=site.data.social %}
                </div>
                <div class="it-search-wrapper">
                  <custom-search></custom-search>
                  <!-- <a aria-current="page" class="search-link rounded-icon"
                    aria-label="Cerca nel sito" href="/ricerca/"><svg role="img" class="icon">
                      <use href="/svg/sprites.svg#it-search"></use>
                    </svg>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>