<section>
  <div class="Hero">
    <div class="Hero-content">
      <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
        <a href="{{ include.category_link }}" class="u-textClean u-color-60 u-text-h4">
          <span class="Dot u-background-60"></span>{{ include.category }}</a>
      </p>
      <h2 class="u-text-h2"><a href="#" class="u-color-95 u-textClean">{{ include.title }}</a></h2>
      <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">{{ include.text }}</p>
      <a href="{{ include.link }}" class="js-scrollTo u-linkClean Button Button--info u-text-r-xs">{{ include.button }}
        <span class="u-padding-r-left Icon Icon-expand"></span></a>
    </div>
    <a href="{{ include.link }}" class="Forward Forward--absolute js-scrollTo" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>
  </div>
</section>
