<section class="home-software-tags">
    <div class="container">
        <h1 class="text-center mt-0">{{t.home_tags}}</h1>
        <ul class="home-software-tags__list list-inline text-center">
            {% assign deactive = false %}
            {% for tag in site.data.publiccode_categories %}
            {% if forloop.index > 15 %}
            {% assign deactive = true %}
            {% endif %}
            {% include set-tag.html tag=tag deactive=deactive %}

            {% endfor %}
        </ul>

        {% if site.data.publiccode_categories.size > 15 %}
        <div class="text-center mb-2 mb-md-4">
            <a href="#" id="moreTags" class="btn btn-primary mx-auto">{{ t.home_tags_more }}</a>
        </div>
        {% endif %}
    </div>
</section>
