<section class="home-software-tags">
    <div class="container">
        <h1 class="text-center mt-0">{{t.home_tags}}</h1>
        <ul class="home-software-tags__list list-inline text-center">
            {% for tag in site.data.software_tags %}
            {% assign division5 = forloop.index | modulo:5 %}
            <li class="home-software-tags__item {%if forloop.index>15%}deactive{%endif%}">
                <a
                    href="/{{active_lang}}/categorie{%if active_lang=='en'%}s{%endif%}/?tags[0]={{tag[0]}}">{{tag[1][active_lang]}}</a>
            </li>

            {% if division5==0 %}
            <div class="w-100"></div>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="text-center mb-2 mb-md-4">
            <a href="#" id="moreTags" class="home-software-tags__extra">Altri filtri</a>
        </div>

    </div>
</section>