{% assign limititems = include.limit | default:4 %}
{% assign title = include.title %}
{% assign captiontitle = include.captiontitle %}
{% assign captionurl = include.captionurl %}
{% assign withimages = include.withimages | default: false %}
{% assign itemdescription = include.itemdescription %}

<section class="home-listing-items source-{{include.source}} {{include.additionalclass}}">
    <div class="container">
        <div class="d-flex align-items-baseline titlewrapper mb-3 mb-md-5">
            <h1>{{title}}</h1>
            {% if captiontitle!=nil%}
            <a href="{{captionurl}}" class="ms-auto more">{{captiontitle}} &rarr;</a>
            {% endif %}
        </div>
        <div class="row row-eq-height">
            {% for item in include.items limit: limititems %}
            {% assign itemUrl = item.url %}
            {% if include.type == 'api' %}
            {% assign itemUrl = '/' | append: active_lang | append: '/api/' | append: item.slug | downcase %}
            {% endif %}
            <div class="col-md {% if withimages!=true %}px-3{%endif%}">
                <catalogue-item
                    class="h-100 d-flex"
                    name="{{ item.title }}"
                    description="{{ item[itemdescription] }}"
                    url="{{ itemUrl }}"
                    logo="{{ item.img | default: item.logo | default:'/assets/images/cover_softwareriuso.png' }}"
                    fallback="/assets/images/cover_softwareriuso.png"
                    {% if withimages != true %}simple="true"{%endif%}
                ></catalogue-item>
            </div>
            {% endfor %}
        </div>
        {% if include.viewalltitle %}
        <div class="text-center mb-2 mb-md-4 pb-3 mt-3 mb-3 mt-md-5">
            <a class="btn btn-primary mx-auto" href="{{include.viewallurl}}">{{include.viewalltitle}}</a>
        </div>
        {% endif %}

    </div>

</section>