{% if site.data.l10n.size > 1 %}
<div class="Header-lang_switch float-right">
<span>
<a href="#languages" data-menu-trigger="languages" class="Header-language d-inline-block text-white">
    <span class="sr-only">{{ t.active_lang }}:</span>
    <span class="icon it-expand"></span>
    <span class="">{{ site.data.l10n[active_lang].code | upcase }}</span>
  </a>
</span>

  <div id="languages" class="">
    <ul class="list-unstyled">
      {% for lang in site.data.l10n %}
      <li><a href="{{ '/' | append: lang[0] | relative_url }}"
        class="u-padding-r-all"><span lang="{{ lang[0] }}">{{ lang[1].name }}</span></a></li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endif %}
