<section class="primary-bg" id="menu">
	<h2 class="d-none">{{ t.navigation_menu_label }}</h2>
  <div class="container">
    <nav>
			{% assign menu_items = include.menu_items[active_lang]%}
      {% include linklist.html dynamic=true items=menu_items %}
      <div class="Offcanvas-menu d-flex deactive" data-activatedby="offcanvasMenu">
        <div class="Offcanvas-menu__inner">
          <div class="Offcanvas-menu__header d-flex">
          <a href="{{ '/' | relative_url }}" tabindex="-1">
            <img src="{{ '/assets/icons/logo-it-blue.svg' | relative_url }}" class="Offcanvas-menu__logo" alt="{{t.site_title}}">
          </a>
          <a href="{{ '/' | relative_url }}" class="Offcanvas-menu__title">{{ t.site_title | default: site.title | escape }}</a>
          </div>
        {% include linklist.html dynamic=true items=menu_items _internal=true %}
        </div>
        <div class="Offcanvas-menu__extra" data-activate-element data-activate-noscroll="true" data-activeid="offcanvasMenu" >
        </div>
      </div>
    </nav>
  </div>
</section>
