{% assign blocks = include.blocks %}


<section class="pairblock overflow-x-hidden">
    <div class="position-relative">
        <div class="row row-eq-height ">
            {% for block in blocks %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <article class="col-md-6 py-2 py-md-5 d-flex flex-column {{thecycle}}" >
                <div class="pairblock__inner">
                {% if block.image %}
                <div class="text-center py-4 px-3" >
                    <img src="{{block.image | relative_url}}" alt="{{block.title}}" class="img-fluid">
                </div>
                {% endif %}
                <h1 class="text-center px-2 px-md-4 mt-auto">{{block.title}}</h1>
                {% if block.text!=nil%}
                <div class="font-serif mt-1 mb-1 alternateblock__text text-center px-2 px-md-4">{{block.text | markdownify }}</div>                    
                {% endif %}
                {% if block.buttons!=nil%}
                    <div class="mt-1 mt-md-2 mb-1 px-2 px-md-4 text-center">
                        {% for button in block.buttons %}
                            <a href="{{button.url | escape }}" class="{{button.class}} mr-3 mt-2">{{button.label}}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
