{% assign desc = person[1].desc %}
<div class="credits-person">
  <div class="text-center credits-person-img">
    <img src="{{ person[1].pic }}" width="200" class="img-fluid">
  </div>
  <div class="credits-person-name h2">
    {{ person[1].name }}
  </div>
  <div class="credits-person-role">
    {{ person[1].role }}
  </div>
  {% if desc %}
  <div class="credits-person-desc">{{ desc }}</div>
  {% endif %}

  <div class="credits-person-socials">
  <ul class="list-inline ">
  {% for contact in person[1].contacts %}
    <li class="list-inline-item">
    <a href="{{ contact[1].link }}" >
      <span class="icon it-{{ contact[0] }}"></span>
      <span class="sr-only">{{ contact[1].name }}</span>
    </a>
  </li>
  {% endfor %}
  </ul>
  </div>

</div><!--/credits-person-->