{% if include.person.first == nil %}
{% assign p = site.data.people[include.person] %}
{% else %}
{% assign p = include.person[1] %}
{% endif %}

{% if p.status == 'admin' %}
{% assign personclass = "person" %}
{% assign colclass = 'col-sm-6' %}
{% else %}
{% assign personclass = "communityleader" %}
{% assign colclass = 'col-sm-4' %}
{% endif %}

<div class="credits-{{ personclass }} {{ colclass }}">
  <div class="credits-{{ personclass }}-img">
    <img src="{{ p.pic }}" alt="" class="img-fluid">
  </div>
  <div class="credits-{{ personclass }}-info">
    <div class="credits-{{ personclass }}-name">
      {{ p.name }}
    </div>
    <div class="credits-{{ personclass }}-role">
      {{ p.role }}
    </div>
    {% if p.desc %}
    <!--<div class="credits-{{ personclass }}-desc">{{ p.desc }}</div>-->
    {% endif %}

    {% if p.status == 'admin' %}
    <div class="credits-{{ personclass }}-socials">
      <ul class="list-inline ">
        {% for contact in p.contacts %}
        <li class="list-inline-item">
          <a href="{{ contact[1].link }}">
            <svg class="icon icon-white">
              <use xlink:href="/assets/svg/sprites.svg#it-{{ contact[0] }}"></use>
            </svg>
            <span class="sr-only">{{ contact[1].name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

</div>
<!--/credits-person-->
