
<script src="{{ '/assets/scripts/jquery.dataTables.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/dataTables.responsive.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/dataTables.uikit.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/select2.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/bootstrap-italia.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/moment.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/Chart.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/jquery.mousewheel.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/owl.carousel.min.js' | relative_url }}"></script>

<script>
  $(document).on('keydown', function(e) {
    if (e.keyCode === 9) {
      $('body').removeClass('hide-focus');
    } else if (e.keyCode == 191) { // slash
      $('#cerca').focus();
      e.preventDefault();
    }
  })

  $(document).on('click', function(e) {
    $('body').addClass('hide-focus');
  })

  var ctx = document.getElementById("vitalityChart").getContext("2d");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['j', 'f', 'm', 'a', 'm', 'j', 'j', 'a', 's', 'o', 'n', 'd'],
      datasets: [{
        fill: false,
        lineTension: 0.1,
        data: {{ page.vitalityDataChart | jsonify }},
        borderWidth: 1,
        borderColor: '#06c'
       }]
     },
    options: {
      scales: {
        xAxes: [{
          display: false,
          stacked: true
        }],
        yAxes: [{
          display: false,
          stacked: true,
          ticks: {
            beginAtZero:true
          }
        }]
      },
      legend: {
        display: false,
      },
      layout: {
        padding: {
          left: 5,
          right: 5,
          top: 5,
          bottom: 5
        }
      },
      tooltips: {
        enabled: false
      }
    }
  });
  
  $(document).ready(function(){
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      margin: 4,
      loop: true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        960:{
          items:4
        }
      }
    });
    owl.on('mousewheel', '.owl-stage', function(e) {
      if (e.deltaY > 0) {
        owl.trigger('next.owl');
      } else {
        owl.trigger('prev.owl');
      }
      e.preventDefault();
    });
  })
</script>
