<!--[if IE 8]>
 <script src="{{ '/assets/toolkit/vendor/respond.min.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/rem.min.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/selectivizr.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/slice.js' | relative_url }}"></script>
 <![endif]-->

 <!--[if lte IE 9]>
 <script src="{{ '/assets/toolkit/vendor/polyfill.min.js' | relative_url }}"></script>
 <![endif]-->

 <script src="{{ '/assets/toolkit/IWT.min.js' | relative_url }}"></script>

<script>
 $(document).ready(function() {
     $(document).on("mousedown", function(e) {
       setTimeout(function () { $(':focus').css("outline", "none") }, 100)
     });
 });
</script>
