<div id="searchModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <p class="h1 modal-title d-inline"> {{ t.search_form_label | capitalize }}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <form autocomplete="off" action="">
            <div class="form-group">
              <div class="autocomplete">
                <input type="text" class="form-control" placeholder="{{ t.search_form_label | capitalize }} {{ t.software.platforms }}, software, API {% if active_lang == 'it' %} o enti{% else %} or agencies {% endif %}">
                <div id="suggestions"></div>
              </div>
              <a class="btn btn-outline-primary all active" data="all">{% if active_lang == 'it' %} Tutto {% else %} All {% endif %}</a>
              <a class="btn btn-outline-primary platforms" data="platforms">{{ t.software.platforms | capitalize }}</a>
              <a class="btn btn-outline-primary software_open" data="software_open">{{ t.software.software_open | capitalize }}</a>
              <a class="btn btn-outline-primary reuse_software" data="reuse_software">{{ t.software.reuse_software | capitalize }}</a>
              <a class="btn btn-outline-primary api" data="api">API</a>
              <a class="btn btn-outline-primary administrations" data="administrations">{{ t.software.administrations | capitalize }}</a>
            </div>
          </form>
          <div class="popularSearches">
            <h5>{{ t.popular_searches | upcase }}</h5>
            <a href=""><img class="icon-cat" src=""> <span class="trends">SPID</span> <span class="category">{{ t.software.software_open | upcase }}</span></a>
            <a href=""><img class="icon-cat" src=""> <span class="trends">Data Analytics Framework CKAN API</span> <span class="category">API</span></a>
            <a href=""><img class="icon-cat" src=""> <span class="trends">PagoPA</span> <span class="category">{{ t.software.platforms | upcase }}</span></a>
            <a href=""><img class="icon-cat" src=""> <span class="trends">CMS</span> <span class="category">{{ t.software.reuse_software | upcase }}</span></a>
            <a href=""><img class="icon-cat" src=""> <span class="trends">Registro elettronico</span> <span class="category">{{ t.software.software_type | upcase }}</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
