<form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s" role="search">
    <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderHideFocus u-borderRadius-s"
      required id="cerca">
    <label class="Form-label u-color-grey-50 u-text-r-xxs" for="cerca">{{ t.search_form_label }}...</label>
    <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-grey-50 u-padding-all-s u-textWeight-700"
      title="{{ t.search_form_start }}" aria-label="{{ t.search_form_start }}">
  </button>
  </div>
</form>
