{% if include.textColor == nil %}
  {% assign textColor = "white" %}
{% else %}
  {% assign textColor = include.textColor %}
{% endif %}

<a id="search-form" data-toggle="modal" data-backdrop="false" data-target="#searchModal">
  <div class="form-inline pr-2 pr-lg-0" role="search">
    <div class="form-group position-relative">
      <span class="text-{{ textColor }} mr-3 d-none d-lg-inline">
        {{ t.search_form_label }}
      </span>
      <svg class="icon">
        <use xlink:href="/assets/svg/sprite.svg#it-search"></use>
      </svg>
    </div>
  </div>
</a>
{% include search-modal.html %}
