{% assign notext = include.notext  %}
{% if notext %}
<span class="sr-only">{{ t.share_msg }} {{ t.on_ }}</span>
{% else %}
<p class="u-margin-r-bottom u-textWeight-300">{{ t.share_msg }} {{ t.on_ }}</p>
{% endif %}
<ul class="list-inline">
  {% for social in site.data.social %}
    {% if social[1].sharelink %}
      {% assign shareurl = page.url | absolute_url | escape %}
      <li class="list-inline-item">
        <a href="{{ social[1].sharelink | replace: '<url>', shareurl }}" class="icon-wrapper" title="{{ t.postarticle_socials_icon_title_prefix }} {{ social[0] }}"><span class="icon it-{{ social[0] }}"></span>
          <span class="sr-only">{{ social[1].name | capitalize }}</span>
        </a>
      </li>
      {% endif %}
  {% endfor %}
</ul>
