<ul class="list-inline text-left social">
  <li class="list-inline-item">
    <a class="icon feed" href="/{{ active_lang }}/news/feed.atom" title="feed"  aria-label="Feed" target="_blank"
    rel="noreferrer">
      <svg role="img" class="icon">
        <use xlink:href="/assets/icons/feed.svg#rss"></use>
      </svg>
    </a>
  </li>
  {% for item in include.social_items %}
  {% assign icon = "/assets/svg/sprite.svg#it-" | append: item[0] %}
  {% if item[1].icon %}
  {% assign icon = item[1].icon %}
  {% endif %}
  <li class="list-inline-item">
    <a class="icon" href="{{ item[1].link }}" title="{{ item[1].name }}" rel="me"  aria-label="{{ item[1].name }}" target="_blank"
    rel="noreferrer">
      <svg role="img" class="icon">
        <use xlink:href="{{ icon }}"></use>
      </svg>
    </a>
  </li>
  {% endfor %}
</ul>
