<div class="tiled-gallery">
  <div class="tiled-gallery-inner">
    {% assign tiledItemIndex = 0 %}
    {% for item in page.description["eng"].screenshots %}
      <img src="{{ item }}" />
    {% endfor %}
      {% for item in page.description["eng"].videos %}
        {{ item }}
      {% endfor %}
  </div>
</div>

<div class="text-center">
  <button class="btn btn-link tiled-gallery-btn" type="button">
    <img src="/assets/icons/camera.png">&nbsp;
    {{ t.software.view_all_photos }}
  </button>
</div>
