<div class="it-carousel-wrapper it-carousel-landscape-abstract-three-cols-arrow-visible splide p-4" data-bs-carousel-splide>
  {% assign onError = 'onerror="' | append: 'this.parentElement.parentElement.removeChild(this.parentElement);"' %}
  <div class="splide__track">
    <ul class="splide__list">
      {% for item in include.screenshots %}
      <li class="splide__slide">
        <div class="it-single-slide-wrapper">
          <div class="card-wrapper">
            <div class="card card-img no-after shadow">
              <div class="img-responsive-wrapper">
                <div class="img-responsive shadow">
                  <div class="img-wrapper">
                    <img {{ onError }} src="{{ item | img_url: 'medium'  }}" alt="Screenshot {{t.image}} {{forloop.index}}" title="Screenshot {{forloop.index}}" />
                  </div>
                </div>
              </div>
              <div class="card-body px-4 px-md-4">
                <a class="read-more" href="{{ item | img_url: 'medium'  }}" target="_blank">
                  <span class="text">{{t.software.maximize_image }}</span>
                  <svg class="icon icon-lg"><use href="/assets/svg/sprites.svg#it-maximize"></use></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if include.videos != nil %}
{% for url in include.videos %}
{{ oembed[url] }}
{% endfor %}
{% endif %}

