<div class="tiled-gallery">
  <div class="tiled-gallery-inner">
    {% assign tiledItemIndex = 0 %}
    {% for item in page.tiledGallery %}
      {% if item.tiled == nil %}
        <a
          class="tiled-item"
          href="{{ item.full }}"
          data-index="{% increment tiledItemIndex %}"
          data-size="{{ item.size.width }}x{{ item.size.height }}"
        >
          <img src="{{ item.thumb }}">
        </a>
      {% else %}
        <div class="tiled-items-container">
          {% for tiledItem in item.tiled limit: 2 %}
            <a
              class="tiled-item"
              href="{{ tiledItem.full }}"
              data-index="{% increment tiledItemIndex %}"
              data-size="{{ tiledItem.size.width }}x{{ tiledItem.size.height }}"
            >
              <img src="{{ tiledItem.thumb }}" />
            </a>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="text-center">
  <button class="btn btn-link tiled-gallery-btn" type="button">
    <img src="/assets/icons/camera.png">&nbsp;
    {{ t.software.view_all_photos }}
  </button>
</div>
