var paramKeys = [
  'tags',
  'developmentStatus',
  'keyword',
  'page',
  'mainCopyrightOwner',
  'categoryCode',
  'categoryName',
  'type',
  'sort',
  'it-riuso-codiceIPA' 
];

// page query config.
var pagesQueryconfig = {
  'software_open': {
    'type': ['software'],
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  },
  'reuse_software': {
    'type': ['software'],
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  },
  'administrations': {
    'type': ['software'],
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  },
  'category': {
    'type': ['software'],
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  },
  'all': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  },
  'platforms': {
    'type': ['post'],
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  },
  'api': {
    'type': ['post'],
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
  }
};

var autocompleteQueryconfig = {
  'all': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
    'inputSelector': 'form .autocomplete input',
    'size': 9
  },
  'platforms': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
    'inputSelector': 'form .autocomplete input',
    'size': 9
  },
  'software_open': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
    'inputSelector': 'form .autocomplete input',
    'size': 9
  },
  'reuse_software': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
    'inputSelector': 'form .autocomplete input',
    'size': 9
  },
  'api': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
    'inputSelector': 'form .autocomplete input',
    'size': 9
  },
  'administrations': {
    'elasticsearch_connection': {
      'host': 'https://xxx.yyy.www.zzz'
    },
    'inputSelector': 'form .autocomplete input',
    'size': 9
  },
}