/* Megamenu
  ========= */

.Megamenu--default .Megamenu-subnavGroup>li,
.Megamenu--default .Megamenu-subnavGroup>li>ul>li {
  border-bottom: 1px solid #eee;
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
}

.Megamenu--default .Megamenu-subnavGroup>li>a {
  text-transform: none !important;
  color: #004a4d!important;
}

.Megamenu--default .Megamenu-subnavGroup>li>ul>li a {
  color: #06c !important;
  font-weight: 600 !important;
}

.Megamenu--default .Megamenu-subnavGroup > li > ul > li.Megamenu-showAll {
  padding-top: 1.5em !important;
  border-bottom: none !important;
}

.Megamenu--default .Megamenu-subnavGroup > li > ul > li.Megamenu-showAll > a {
  color: #004a4d !important;
  text-transform: uppercase !important;
}

.Megamenu-item:nth-child(2) .Megamenu-subnavGroup > li,
.Megamenu-item:nth-child(2) .Megamenu-subnavGroup > li > ul > li {
  width: initial;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;

}

.with-image {
  .tool-image {
    display: inline-block;
    vertical-align: middle;
    width: 3.5em;
  }
}

.tool-image {
  display: block;
  margin: auto;
  width: 3.5em;
}

/* Credits
   ======== */

.Person {
  width: 296px;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
  z-index: 30;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0,.1);
}

.u-round {
  border-radius: 100% !important;
}

.Person:after {
  padding-bottom: 100%;
}

@media screen and (min-width: 992px) {

  .Person-container:nth-child(3n+2) {
    margin-top: 3em;
  }

}

/* Utilities
  ========== */

.hide-focus :focus {
  outline: none !important;
}

.u-pullUp {
  margin-top: -120px;
}

.u-pullUp-10 {
  margin-top: -10em;
}

.u-minHeight-250 {
  min-height: 250px;
}

.is-selected {
  outline: 3px solid #06c;
}

@media screen and (max-width: 767px) {

  .u-minHeight-250 {
    min-height: 0;
  }

  .u-pullUp-10, .u-pullUp {
    margin-top: 0;
  }

  .Separator-room, .Separator {
    display: none !important;
  }

}
