.tiled-gallery {
  margin: {
    bottom: 4rem;
    top: 6rem;
  }
  padding-bottom: 2rem;
  position: relative;
  width: 100%;

  .ps__rail-x {
    background: rgba(#2079D4, .1) !important;
    height: .5rem;
    opacity: 1 !important;
    bottom: .5rem;
  }

  .ps__thumb-x {
    background: #2079D4 !important;
    border-radius: 6px;
    height: .75rem !important;
    width: 1.5rem;
    position: relative;

    &:after {
      background: #66A5E3;
      content: '';
      height: 6px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      box-shadow: 6px 0 0 0 #66A5E3, -6px 0 0 0 #66A5E3;
    }
  }
}

.tiled-gallery-inner {
  display: flex;
  max-height: 360px;
}

.tiled-item {
  margin: {
    bottom: .5rem;
    right: .5rem;
  }

  img {
    max-width: 100vw;
  }
}

.tiled-items-container {
  display: flex;

  @include media-breakpoint-up(md) {
    flex-direction: column;
  }

  .tiled-item {
    @include media-breakpoint-up(md) {
      height: calc(50% - .25rem);
      margin-bottom: .5rem;
    }

    img {
      @include media-breakpoint-up(md) {
        height: 100%;
      }
    }
  }
}

