.page-searched-list {
  margin-top: 5rem;
  margin-bottom: 5em;
  .type {
    .head {
      text-transform: uppercase;
      font-weight: 600;
    }
    #list-type {
      .form-check-label {
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          left: 0;
          padding: 0;
          width: 24px;
          height: 24px; 
          margin: 0;
        }
        span { 
          padding-left: 24px;
          margin-left: 0.5em;
          text-transform: capitalize;
        }
      }
    }
  }
  .arguments {
    margin-top: 4em;
    .head {
      text-transform: uppercase;
      font-weight: 600;
    }
    #list-tags {
      max-height: 90vh;
      overflow-y: scroll;
      .form-check-label {
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          left: 0;
          padding: 0;
          width: 24px;
          height: 24px; 
          margin: 0;
        }
        span { 
          padding-left: 24px;
          margin-left: 0.5em;
          text-transform: capitalize;
        }
      } 
      .show_all {
        margin-top: 2em;
      }
    }
  }

  #filters {
    .pill-filters {
      .nav-pills {
        @include media-breakpoint-down(sm) {
          font-size: 0.8em;
          padding: 0;
        }
      }
    }
  }
}
#paginator {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .pagination {
    .page-item {
      &.active {
        @extend .border;
        @extend .border-primary;
        border-radius: 4px;
        .page-link {
          color: $primary;
        }
      }
      .page-link {
        font-size: 1rem;
      }
    }
  }
}