#searchModal {
  top: 36px;
  .icon {
    position: relative;
    top: 0.2rem;
    margin-right: 0.5rem; 
  }
  .btn {
    border: 1px solid #5A6772;
    color: #5A6772;

    &.active {
      background-color: $primary;
      color: #fff;
      border: 1px solid $primary;
    }
  }
  .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    .modal-content{
      height: 100vh;
      .modal-header {
        margin-top: 3em;
        .close {
          font-size: 3rem;
          font-weight: 100;
        }
      }
      .modal-body {
        .autocomplete {
          position: relative;
          &:before {
            content: '\e831';
            font-size: 2.6rem;
            top: 0.2rem;
            color: $primary;
            font-family: "italia-icon-font";
            -ms-transform: rotate(270deg); /* IE 9 */
            -webkit-transform: rotate(270deg); /* Safari 3-8 */
            transform: rotate(270deg);
            position: absolute;
            top: 0;
            z-index: 500;
          }
          input {
            position: relative;
            padding-left: 4rem;
            font-size: 3rem;
            font-weight: 100;
            line-height: 1.3em;
            height: auto;
            border-bottom: 1px solid #dee2e6;
            margin-bottom: 2rem;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              opacity: 0.5;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              opacity: 0.5;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              opacity: 0.5;
            }
            &:-moz-placeholder { /* Firefox 18- */
              opacity: 0.5;
            }
          }
          #suggestions {
            position: absolute; 
            background-color: white;
            width: 100%;
            z-index: 600;
            height: 80vh;
            a {
              display: block;
              font-size: 1.25rem;
              color: gray;
              text-decoration: none;
              line-height: 2rem;;
              .category+span {
                opacity: 0.4;
                font-size: 0.6em;
                position: relative;
                top: 0.2em;
                text-transform: uppercase;
              }
              &:hover, 
              &:focus {
                color: $primary;
                .results{
                  text-decoration: underline;
                }
                .category {
                  opacity: 1;
                }
              }
              &:last-child {
                color: $primary;
                text-transform: uppercase;
                position: relative;
                font-weight: 600;
                padding-left: 1.5rem;
                margin-top: 2rem;
                font-size: 0.9rem;
                letter-spacing: 1px;
                &:before {
                  content: '\e831';
                  font-size: 0.9rem;
                  color: $primary;
                  font-family: "italia-icon-font";
                  -ms-transform: rotate(270deg); /* IE 9 */
                  -webkit-transform: rotate(270deg); /* Safari 3-8 */
                  transform: rotate(270deg);
                  position: absolute;
                  top: 0;
                  z-index: 1000;
                  left: 0;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .popularSearches {
          margin-top: 6rem;
          h5 {
            font-weight: 600;
            margin-bottom: 1em;
          }
          a {
            display: block;
            font-size: 1.5rem;
            color: gray;
            text-decoration: none;
            .trends{
              margin-right: 0.5em;
            }
            .category {
              font-size: 0.6em;
              font-weight: 600;
              opacity: 0.4;
            }
            &:hover, 
            &:focus {
              color: $primary;
              .trends{
                text-decoration: underline;
              }
              .category {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
