.page-software-detail {
  margin-top: 5rem;
  .intro {
    @include media-breakpoint-down(sm) {
      padding-left: 1em;
    }
  }
  .intro-name {
    img {
      margin-right: 1em;
      max-width: 60px;
      @extend .align-baseline;
    }
    h1 {
      @extend .align-baseline;
      .badge {
        font-size: 0.7rem;
        font-weight: 300;
        @extend .align-top;
      }
    }
    .abstract-software {
      h2 {
        font-weight: 300;
      }
      h3 {
        font-weight: 300;
        font-family: serif;
        color: gray;
      }
      .tag {
        margin: 2em 0 3em;
      }
      .legal-main-info {
        .label {
          color: gray;
          @extend .d-block;
        }
        a{
          @extend .d-block;
        }
      }
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 3em;
    }   
  }
  .drops-details {
    @include media-breakpoint-up(sm) {
      border-left: 0.5em solid #e8f1fa;
      padding-left: 2em;
      margin-top: 2em;
    }
    .vitality-score {
      .score {
        color: $primary;
        font-size: 2.4em;
        line-height: 1em;
        font-weight: 500;
        margin-bottom: 0;
        @extend .d-inline-block;
        @extend .align-middle;
      }
      #softwareChart {
        @extend .align-middle;
        @extend .d-inline-block;
        position: relative;
        margin: auto;
        height:  120px;
        width: 230px;
      }
      .status-developement {
        margin-top: 1.5em;
        .status {
          text-transform: uppercase;
          font-weight: 700;
          display: block;
          margin-top: 0;
        }
      }
    }
    .goto {
      margin-top: 3em;
      font-weight: 700;
      text-transform: uppercase;
      p {
        position: relative;
        img {
          margin-right: 1em;
        }
      }
    }
  }
}

hr {
  &.divider {
    margin: 4em 0;
  }
}

.media-gallery {
  overflow-x: scroll;
  @extend .d-block;
  margin-top: 5em;
  margin-bottom: 5em;
  min-height: 400px;
  .media {
    background: rgba (255,255,255, 0.4);
    &:hover, &:focus {
      background: rgba(0,102,204, 1);
    }
    .preview {
      opacity: 0.6;
    }
    &.alone {
      height: 400px;
      .preview {
        width: 100%;
        height: 100%;
        background-size: cover !important;
      }
    }
  }
}
.functionality {
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  .variant {
    h4 {
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        border-left: 6px solid $primary;
        padding-left: 1em;
        margin-left: 6px;
      }
    }
    @include media-breakpoint-down(sm) {
      margin-left: -12px;
      margin-right: -12px;
    }
  }
  .function-list {
    @include media-breakpoint-up(sm) {
      border-left: 0.2em solid #e8f1fa;
      padding-left: 2em;
      margin-top: 2em;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 2em;
    }
  }
}
#usedBy {
  margin-bottom: 3em;
  a{
    display: block;
    &.count {
      font-weight: 700;
      text-transform: uppercase;
      margin: 3em 0 2em;
    }
    &.count[aria-expanded="false"] {
      .and {
        display: none
      }
    }
    &.count[aria-expanded="true"] {
      .or {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 2em;
  }
}
#oldVariant {
  margin-bottom: 3em;
  a{
    display: block;
    &.count {
      font-weight: 700;
      text-transform: uppercase;
      margin: 3em 0 2em;
    }
    &.count[aria-expanded="false"] {
      .and {
        display: none
      }
    }
    &.count[aria-expanded="true"] {
      .or {
        display: none;
      }
    }
  }
  #listVariant{
    .variantDetail {
      margin-bottom: 2em;
      p {
        color: gray;
        .label {
          font-weight: 600;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 2em;
  }
}
.interestRelatedSoftwares {
  margin: 2em 0;
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  .relate-body {
    margin: 1em 0;
    font-weight: 700;
  }
  .relate-title {
    font-size: 1.5em;
  }
  .relate-link {
    text-transform: uppercase;
  }
}
.tags-relate {
  a {
    margin: 0 0 0 0.8em;
  }
}
.detail-sheet {
  margin-top: 3em;
  padding-top: 3em;
  background: -moz-linear-gradient(top, #1e5799 26%, #ffffff 26%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 26%,#ffffff 26%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 26%,#ffffff 26%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  @include media-breakpoint-down(md) {
    background: -moz-linear-gradient(top, #1e5799 10%, #ffffff 10%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 10%,#ffffff 10%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 10%,#ffffff 10%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .sheet {
    .top {
      background: white;
      position: relative;
      padding-top: 110px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 110px solid #1e5799;
        border-left: 110px solid #eee;
        @include media-breakpoint-down(md) {
          border-top: 50px solid #1e5799;
          border-left: 50px solid #eee;
        }
      }
      @include media-breakpoint-down(md) {
        padding-top: 50px;
      }
    }
    .content-sheet{
      box-shadow: 0px 1px 40px rgba(0,0,0, 0.3);
      width: 100%;
      background: #fff;
    }
  }
  .heading-title {
    p {
      text-transform: uppercase;
      font-size: 1.2em;
    }
    .title {
      margin-bottom: 2em;
      h2 {
        font-weight: 300;
        &.h1 {
          font-weight: 700;
          .badge {
            font-size: 0.7rem;
            font-weight: 300;
            @extend .align-top;
          }
        }
      }
    }
  }
  .heading-maintenance,
  .heading-maintenance-contact,
  .heading-legal-dependencies {
    border-top: 1px solid #dee2e6;
    padding: 2em 0;
    p {
      .label {
        color: gray;
        @extend .d-block;
      }
      a {
        @extend .d-block;
        &.until {
          @extend .d-inline;
        }
      }
      &.platforms {
        margin-bottom: 0;
      }
    }
    a{
      &.controls{
        font-weight: 600;
        span {
          float: right;
          margin-right: 0.5em;   
        }
      }
    }
    .controls[aria-expanded="false"] {
      .and {
        display: none
      }
    }
    .controls[aria-expanded="true"] {
      .or {
        display: none;
      }
    }
  }
  #maintenanceContact{
    @include media-breakpoint-up(md) {
      &.collapse{
        &.dont-collapse-md {
          display: block;
          height: auto !important;
          visibility: visible;
        }
      }
    }
  }
  .main {
    border-top: 1px solid #dee2e6;
    padding: 4em 0 2em;
    p {
      &.title {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    hr {
      border-top: 1px solid #dee2e6;
      width: 30%;
      margin: 4em 0;
    }
    a{
      &.controls{
        width: 100%;
        font-weight: 600;
        padding-bottom: 2em;
        span {
          float: right;
          margin-right: 0.5em;   
        }
      }
    }
    .controls[aria-expanded="false"] {
      .and {
        display: none
      }
    }
    .controls[aria-expanded="true"] {
      .or {
        display: none;
      }
    }
    #mainOthersInfo {
      @include media-breakpoint-up(md) {
        &.collapse{
          &.dont-collapse-md {
            display: block;
            height: auto !important;
            visibility: visible;
          }
        }
      }
    }
    .other-detail,
    .relatedSoftwares {
      padding-bottom: 2em;
      p {
        .label {
          color: gray;
          @extend .d-block;
        }
        .contact, a {
          @extend .d-block;
        }
      }
    }
    .page-detail {
      @include media-breakpoint-down(md) {
        border-top: 1px solid #dee2e6;
        padding-top: 2em;
      }
    }
    @include media-breakpoint-down(md) {
      padding-top: 2em;
    }
  }
}
