---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');
@charset "utf-8";
@import "bootstrap-italia/src/scss/bootstrap-italia";
@import 'footer';
@import 'software-detail';

//@import "highlight";
//@import "developer";
//@import "datatables";
//@import "select2";

$font-family-serif: 'Lora', 'Georgia', Serif;

.font-serif {
    font-family: $font-family-serif;
}
.font-base {
    font-family: $font-family-base;
}

// Ridefinizione della misura base del testo, come da mockup
html, body {
    font-size: 16px;
    line-height: 1.5;
    @include media-breakpoint-up(sm) {
      font-size: 16px;
      line-height: 1.555;
    }
}

// STILE DEVELOPERS
.Header {

    &-banner {
        padding: 1rem ;
    }

    &-language {
        .icon {
            font-size: 0.8rem;
        }
    }

    &-logo {
        img {
            width: 72px;
        }
    }
    &-socialIcons {
        .icon {
            color: #fff;
            font-size: 1rem;
            padding: 0.1rem;
            border-radius: 2rem;
            display: block;
            padding-left: 0.2rem;
        }
    }
    &-title {
        margin: 2rem 0;
    }
    &-utils {
        margin-top: 0.5rem;
    }
    &-titleLink {
        
        a {
            color: #fff;
            font-weight: 600;
            font-size: 2rem;
            letter-spacing: 0;
            .Header-subtitle {
                font-size: 1rem;
                font-weight: 300;
            }
        }
        .badge-pill {
            background-color: #004D99;
            font-size: 0.75rem;
            font-weight: 300;
        }
    }
}
#search-form {
    input {
        font-size: 1rem;
        padding: 0.8rem;
        padding-right: 2rem;
        border: none;
        border-radius: 0.2rem;
        border-radius: 0.2rem;
        width: 280px;
    }
    .icon {
        font-size: 1rem;
        background-color: #fff;
        padding: 0.8rem;
        border: 0;
        color: #0073e6;
        border-radius: 100%;
        line-height: 0;
        height: 2.6rem;
        width: 2.6rem;
        
    }

}
#languages {
    background-color: #fff;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.2rem;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
    z-index: 100;
    
    li {
        padding: 0.5rem;
        border-bottom: 1px solid $gray-100;
    }

    li:last-child {
        border-bottom: none;
    }

}

.Linklist{
    &--padded-top {
        padding-top: 0.4rem;
        position: relative;
        margin: 0;

        li {
            display: block;
            a {
                color: #fff;
                padding: 1rem;
                display: block;
                font-size: 1.15rem;
                font-weight: 600;
            }
        }
        & li:nth-child(-n+3) {
            background-color: #fff;
            border-right: 1px solid #ddd;
            text-align: center;
            width: 9rem;
            position: relative;
            top: 0.8rem;
            z-index: 2;
            a {
                color: #5A6772;
                padding: 1.5rem 1.2rem;
                
            }
        }
        & li:nth-child(4) {
            margin-left: auto;
        }
        & li:nth-child(1) {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
        & li:nth-child(3) {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            border-right: none;
        }
        &:after {
            width: 27rem; //width of li:nth-child(-n+3) *3
            content: '';
            height: 4.6rem;
            background: transparent;
            position: absolute;
            top: 1.2rem;
            z-index: 1;
            box-shadow: 0 0 80px 0 rgba(0,0,0,0.16);
        }
    }
}

.credits {
    &-main-image {
    background-color: #eee;
    }  
    &-first-part {
        background-color: #FAFBFD;
        background-image: url(/assets/images/credits-background-first.svg);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
    }
    &-main-text {
        position: relative;
        margin-top: -6rem;
        padding: 4rem;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 10px 80px 0 rgba(90,103,114,0.1);

        h1 {
            font-size: 3.5rem;
            color: #17324D;
            margin-bottom: 2rem;
        }

    }
    &-main-content {
        font-family: $font-family-serif;
        font-size: 1.1rem;
        color: $gray-600;
    }
    &-mantainers {
        h1 {
        color: #17324D;
        margin: 3rem 0;
        }
    }
    &-contributors {
        background-color: #F7F9FA;
        background-image: url(/assets/images/credits-background-contributors.svg);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;

        h1 {
            color: #17324D;
            margin: 3rem 0;
            }
    }
    &-hr {
        border-top: 1px solid #455B71;
        opacity: 0.5;
    }
    &-person-name {
        color: #17324D;
        text-align: center;
        margin-top: 2rem;
        letter-spacing: 0;
        font-size: 2rem;
    }
    &-person-img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    &-person-role {
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        color: #455B71;
        font-size: 1.2rem;
    }
    &-person-desc {
        font-weight: 300;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 1rem;
    }
    &-person-socials {
        text-align: center;
        margin-top: 1rem;

        .icon {
            color: #fff;
            display: inline-block;
            font-size: 1rem;
            position: relative;
            line-height: 0;
            width: 2rem;
            height: 2rem;
            background-color: $italia;
            padding: 0.5rem;
            border-radius: 2rem;
        }
    }
    
}
.banner-joinus {
    background-color: #004D99;
    background-image: url(/assets/images/credits-background-join.svg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

    h2 {
        font-size: 0.9rem;
        line-height: 1.2;
        color: #17324D;
        font-weight: 300;
        letter-spacing: 0;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }
    }
    h1 {
        font-size: 2rem;
        line-height: 1.2;
        color: #17324D;
        @include media-breakpoint-up(md) {
            font-size: 2.5rem;
        }
    }
    &-window {
        display: none;
        position: absolute;
        top: -6.5rem;
        left: -5.5rem;
        @include media-breakpoint-up(sm) {
            display: block;
        }
    }
    .icon {
        color: $primary;
        display: inline-block;
        font-size: 1rem;
        position: relative;
        line-height: 0;
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 2rem;
        margin-left: 0.5rem;
    }
}
.simplelayout {
    &-main-image {
        background-color: #eee;
    }  
    &-first-part {
        background-color: #FAFBFD;
        background-image: url(/assets/images/simplelayout-background.svg);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-bottom: 6rem;
    }
    &-main-text {
        position: relative;
        margin-top: -6rem;
        padding: 4rem;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 10px 80px 0 rgba(90,103,114,0.1);

        h1 {
            font-size: 3.5rem;
            color: #17324D;
            margin-bottom: 2rem;
        }
        &:before {
            position: absolute;
            top: 6rem;
            left: -3rem;
            border-left: 3rem solid #D6DEE8;
            border-bottom: 3rem solid #D6DEE8;
            z-index: -1;
            width: 50%;
            height: calc(100% - 3rem);
            content: '';
            opacity: 0.5;
        }

    }
    &-main-content {
        font-family: $font-family-serif;
        font-size: 1.1rem;
        color: $gray-600;
    }
    
    
}
.alternateblock{

    h1 {
        font-size: 2rem;
        color: #17324D;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }
    &__text {
        color: #5A6772;
    }

    .vertical-line {
        content:'';
        width: 1px;
        height: 100%;
        background-color: #D6DEE8;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &.left-25 {
            left: 25%;
        }
        &.left-50 {
            left: 50%;
        }
        &.left-75 {
            left: 75%;
        }
        &.left-100 {
            left: 100%;
        }
    }
}

