---
layout: default
---

{% include setlang.html %}

{% assign root = '/' | append: active_lang | append: '/admnistrations' %}

<div class="container-fluid  d-block d-md-none">
  <div class="abstract-sorting-mobile row">
    <div class="results-number col-4">
      <p>{{ site.data.ammninistrazioni | size }} {{ t.software.results }}</p>
    </div>
    <div class="filters col-4">
      <a href="" data-bs-toggle="modal" data-target="#filters">
        {{ t.software.filters }} <span class="active-numbers">2</span>
      </a>
    </div>
    <div class="sort col-4">
      <a href="" data-bs-toggle="modal" data-target="#sortBy">
        {{ t.software.sort_by }}
      </a>
    </div>
  </div>
</div>
<div class="container page-administrations-list">
  <div class="row">
    <div class="col-md-3 d-none d-md-block">
      <div class="publicEntities">
        <p class="head">{{ t.software.public_entities }}</p>
        <div id="list-status">
          {% for item in site.data.software_pa_types %}
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="{{ item |first }}">
              <span>{% if item[1][active_lang] != nil%}{{ item[1][active_lang] }} {% else %} {{ item | first }}
                {% endif %}</span>
            </label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="arguments">
        <p class="head">{{ t.software.categories }}</p>
        <div id="list-tags">
          {% for tag in site.data.publiccode_categories limit: 10 %}
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="{{ tag |first }}">
              <span>{% if tag[1][active_lang] != nil %}{{ tag[1][active_lang] }} {% else %} {{ tag | first }}
                {% endif %}</span>
            </label>
          </div>
          {% endfor %}

          {% if site.data.publiccode_categories.size > 10 %}
          <div class="collapse" id="otherArguments">
            {% for tag in site.data.publiccode_categories offset:10 %}
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="{{ tag |first }}">
                <span>{% if tag[1][active_lang] != nil %}{{ tag[1][active_lang] }} {% else %} {{ tag | first }}
                  {% endif %}</span>
              </label>
            </div>
            {% endfor %}
          </div>
          <p class="show_all">
            <a data-bs-toggle="collapse" href="#otherArguments" role="button" aria-expanded="false"
              aria-controls="otherArguments">{{ t.software.show_all }}</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="intro">
        <h1 style="font-size: 3rem">{{ page.title }}</h1>
        <div class="abstract-sorting row row-eq-height d-none d-md-flex">
          <div class="results-number col-md-6 d-flex">
          </div>
        </div>
      </div>

      <div class="container list-item-sorting">
        <div class="row row-eq-height">
          {% for admin in site.data.crawler.amministrazioni %}
          <div class="col-sm col-md-4 item">
            <p class="name">{{ admin.name }}</p>
            <a href="#"> {{ t.software.go_to_detail }} &rarr;</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="filters" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span class="back" data-dismiss="modal"><i
                class="it-arrow-left"></i></span>{{ t.software.filters }}</h5>
          <a class="save" href="" data-dismiss="modal">
            conferma
          </a>
        </div>
        <div class="container-fluid">
          <div class="pill-filters row">
            <ul class="nav nav-pills  w-100" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="pills-public_entities-tab" data-bs-toggle="pill" href="#pills-public_entities"
                  role="tab" aria-controls="pills-public_entities"
                  aria-selected="false">{{t.software.public_entities}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="pills-arguments-tab" data-bs-toggle="pill" href="#pills-arguments"
                  role="tab" aria-controls="pills-arguments" aria-selected="true">{{ t.software.categories }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-arguments" role="tabpanel"
              aria-labelledby="pills-arguments-tab">
              {% for tag in site.data.publiccode_categories %}
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="{{ tag |first }}">
                  <span>{% if tag[1][active_lang] != nil %}{{ tag[1][active_lang] }} {% else %} {{ tag | first }}
                    {% endif %}</span>
                </label>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-public_entities" role="tabpanel"
              aria-labelledby="pills-public_entities-tab">
              {% for item in site.data.software_pa_types %}
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="{{ item |first }}">
                  <span>{% if item[1][active_lang] != nil%}{{ item[1][active_lang] }} {% else %} {{ item | first }}
                    {% endif %}</span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sortBy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelSort"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelSort">{{ t.software.sort_by }}</h5>
        </div>
        <div class="modal-body">
          <a href="" sort="az">A/Z <i class="it-check"></i></a>
          <a href="" sort="za">Z/A</a>
          <a href="" sort="popularity">Popolarità</a>
          <a href="" sort="emerging">Emergenti</a>
        </div>
      </div>
    </div>
  </div>
</div>
