---
layout: default
lang: {{ site.lang }}
---

{% include setlang.html %}

{%
  assign l10n = site.data.l10n[active_lang].t.swagger | jsonify | escape
%}

{% assign projects = site.projects | where: 'lang', active_lang %}
{% assign filteredProjects = '' | split: '' %}
{% for project in projects %}
  {% assign id = "" | append: "id:" | append: project.id %}
  {% assign filteredProjects = filteredProjects | push: id %}
  {% assign description = "" | append: "description:" | append: project.description %}
  {% assign filteredProjects = filteredProjects | push: description %}
  {% assign title = "" | append: "title:" | append: project.title %}
  {% assign filteredProjects = filteredProjects | push: title %}
  {% assign subtitle = "" | append: "subtitle:" | append: project.subtitle %}
  {% assign filteredProjects = filteredProjects | push: subtitle %}
  {% assign payoff = "" | append: "payoff:" | append: project.payoff %}
  {% assign filteredProjects = filteredProjects | push: payoff %}
{% endfor %}

{% assign swaggerProjects = filteredProjects | jsonify | escape %}

{% unless page.comingsoon %}
  {% include swagger.html swaggerUrl=page.openapi logo=page.contact.logo lang=active_lang l10n=l10n swaggerProjects=swaggerProjects %}
{% else %}
  <div class="container my-5">
    <h1 class="d-inline-block">
      {{ page.title }}
      <span class="badge badge-pill bg-secondary align-top h5">{{ t.coming_soon }}</span>
    </h1>
    <h2 class="subtitle">{{ page.abstract }}</h2>
  </div>
{% endunless %}
