---
layout: default
---

{% include setlang.html %}

{% comment %}

{% include breadcrumbs.html %}
{% include share.html %}

{% assign subnav = site.data[page.subnav] %}
{% include linklist.html items=subnav dynamic=true %}

{% endcomment %}

{% assign apis = site.data.apis %}
{% assign root = '/' | append: active_lang | append: '/api' %}


<div class="apilist">
  <div class="container mt-5">
    <section class="apilist__content mt-2 mt-md-5 pt-2 pt-md-4 pb-2">
      <h1>{{ page.title }}</h1>
      <div class="row mb-2 mb-md-4">
        <div class="col-md-6">
          <h2 class="subtitle">{{ page.subtitle }}</h2>
        </div>
      </div>
      <div class="apilist__listing">
        <div class="row row-eq-height">
          {% for api in apis %}
          {% assign url = '/' | append: active_lang | append: '/api/' | append: api.slug | downcase %}

          <div class="col-md-4 p-2">
            <article class="d-flex flex-column align-items-start h-100 mb-md-2 p-2 p-md-5">
              {% if api.contact.logo %}
              <figure class="w-100">
                <img alt="{{api.contact.name}}" src="{{api.contact.logo | relative_url}}">
              </figure>
              {% endif %}
              {% if api.comingsoon != true %}
              <h1 class="apilist__listing__title">
                  <a title="{{api.title}}" class="color-inherit decoration-none" href="{{url}}">{{api.title}}</a>
              </h1>
              {% else %}
              <h1 class="apilist__listing__title">{{api.title}}</h1>
              {% endif %}

              {% if api.contact %}
              <h2>{{api.contact.name}}</h2>
              {% endif %}
              <p class="mt-md-2">{{api.abstract}}</p>
              {% if api.comingsoon != true %}
              <a class="apilist__listing__url mt-auto" href="{{url}}">{{t.software.read_more}} &rarr;</a>
              {% else %}
              <span class="badge rounded-pill bg-secondary apilist__listing__soon mx-0">{{ t.coming_soon }}</span>
              {%endif%}
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
