---
layout: default
---

{% include setlang.html %}

{% comment %}

  {% include breadcrumbs.html %}
  {% include share.html %}

  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}

{% endcomment %}

{% assign apis = site.data.apis | where_exp:"api", "api.language contains active_lang" %}
{% assign root = '/' | append: active_lang | append: '/api' %}

<div class="u-background-50 u-layout-r-withGutter u-padding-bottom-xxl u-padding-top-xxl">
  <h1 class="u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
    {{ page.title }}</h1>
    <h2 class="u-text-r-m u-textWeight-300 u-color-20  u-lineHeight-m">{{ page.subtitle }}</h2>
</div>

<hr class="Separator-room u-background-50" />
<hr class="Separator Separator--up u-background-grey-15" />

<div class="u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">

        <div class="Grid Grid--equalHeight Grid--withGutter">
        {% for api in apis %}
          {% assign url = '' %}
          {% if api.comingsoon != true %}
            {% assign url = api.name | datapage_url: root %}
          {% endif %}

          {% assign hasImage = false %}
          {% if api.contact.logo %}
            {% assign hasImage = true %}
          {% endif %}

          <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight">
            {% include api-card.html
              image=api.contact.logo
              title=api.name
              text=api.abstract
              link=url
              subtitle=api.contact.name
              alt=api.name
              hasImage=hasImage
              comingsoon=api.comingsoon
            %}
          </div>

        {% endfor %}
        </div>


</div>
