---
layout: default-pa
---

{% include setlang.html %}

{% comment %}

{% include breadcrumbs.html %}
{% include share.html %}

{% assign subnav = site.data[page.subnav] %}
{% include linklist.html items=subnav dynamic=true %}
{% endcomment %}

{% assign generic_sw = site.data.crawler.software | where_exp: "item", "item.publiccode.IT.riuso.codiceIPA == page.ipa" | nested_sort_natural: "publiccode.name" | slice: 0, 60 %}

{% assign root = '/' | append: active_lang  %}

<div class="container-fluid search-landing-page d-block d-md-none">
  <div class="abstract-sorting-mobile row">
    <div class="results-number col-12">
      <p> {{ generic_sw | size }} {{ t.software.results }}</p>
    </div>
  </div>
</div>

<div class="container page-searched-list">
  <div class="intro">
    <div class="abstract-sorting row row-eq-height d-none d-md-flex">
      <div class="results-number col-md-12 d-flex">
        <p>{{ generic_sw | size }} {{ t.software.results }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="container list-item-sorting">
        <div class="tab-content" id="pills-tabContentResults">
          <div class="tab-pane fade show active" id="pills-tab1" role="tabpanel" aria-labelledby="pills-tab1a-tab">
            <div class="row row-eq-height">
              {% for software in generic_sw limit: 60 %}
              {% assign description = software.publiccode.description[active_lang] %}
              {% unless description %}
                {% for lang_key in software.publiccode.description %}
                  {% assign lang_base = lang_key[0] | split: '-' | first %}
                  {% if lang_base == active_lang %}
                    {% assign description = lang_key[1] %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endunless %}
              {% assign description = description | default: software.publiccode.description.en | default: software.publiccode.description.it %}

              {% assign sw_name = description.localisedName | default: software.publiccode.name %}
              {% assign sw_url = '/' | append: active_lang | append: '/software/' | append: software.slug | downcase %}
              {% assign first_screenshot = description.screenshots | first %}

              <catalogue-item
                class="col-sm-11 col-md-6 col-lg-4 col-xl-3 p-3 d-flex flex-column"
                id="{{  software.id }}"
                name="{{ sw_name }}"
                description="{{ description.shortDescription | escape }}"
                url="{{ sw_url }}"
                icon="it-software"
                category="software_reuse"
                logo="{{ software.publiccode.logo | default: first_screenshot }}"
                fallback="/assets/images/cover_softwareriuso.png"
              ></catalogue-item>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
