---
layout: default-pa
---

{% include setlang.html %}

{% comment %}

{% include breadcrumbs.html %}
{% include share.html %}

{% assign subnav = site.data[page.subnav] %}
{% include linklist.html items=subnav dynamic=true %}
{% endcomment %}

{% assign generic_sw = site.data.crawler.softwares | where_exp: "item", "item.publiccode.it.riuso.codiceIPA == page.ipa" | slice: 0, 60 %}

{% assign root = '/' | append: active_lang  %}

<div class="container-fluid search-landing-page d-block d-md-none">
  <div class="abstract-sorting-mobile row">
    <div class="results-number col-12">
      <p> {{ generic_sw | size }} {{ t.software.results }}</p>
    </div>
  </div>
</div>

<div class="container page-searched-list">
  <div class="intro">
    <div class="abstract-sorting row row-eq-height d-none d-md-flex">
      <div class="results-number col-md-12 d-flex">
        <p>{{ generic_sw | size }} {{ t.software.results }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="container list-item-sorting">
        <div class="tab-content" id="pills-tabContentResults">
          <div class="tab-pane fade show active" id="pills-tab1" role="tabpanel" aria-labelledby="pills-tab1a-tab">
            <div class="row row-eq-height">
              {% for software in generic_sw limit: 60 %}
              {% assign description = software.publiccode.description[active_lang]
                | default: software.publiccode.description.en
                | default: software.publiccode.description.it %}

              {% assign sw_name = description.localisedName | default: software.publiccode.name %}

              {% assign sw_url = '/' | append: active_lang | append: '/software/' | append: software.slug | downcase %}
              {% if software.publiccode.it.riuso.codiceIPA != nil %}
              <div class="col-sm col-md-4 item mb-2 mb-md-3 p-2 p-md-3">
                <a href="{{sw_url}}" class="d-block decoration-none ">
                  
                  {% if software.publiccode.it.riuso.codiceIPA != nil %}
                  <p class="icon-type-public-sw">{{ t.software.reuse_software | upcase }}</p>
                  {% else %}
                  <p class="icon-type-generic-sw">{{ t.software.software_open | upcase }}</p>
                  {% endif %}

                  {% assign paClasses = "main-image" %}
                  {% include display-logo.html 
                    logo = software.publiccode.logo 
                    codiceIPA = software.publiccode.it.riuso.codiceIPA
                    screenshots = description.screenshots
                    classes = paClasses
                  %}

                  <p class="name color-inherit">
                    {{ sw_name }}
                  </p>
                  <span class="item-more"> {{ t.pa.more_details }} &rarr;</span>
                </a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
