{% include setlang.html %}

{% include head.html %}


{% include cookiebar.html %}

<div class="u-background-95">
  <div id="main" class="u-layout-wide u-layoutCenter">
    {% include header.html hasSearch=true %}
    {% include offcanvas.html menu_items=site.data.menu_items %}
    {% comment %}
    <!-- NOT FOR NOW-->
    {% include network.html network_items=site.data.network_links %}
    {% endcomment %}
    {{ content }}
  </div>
</div>

{% include scrolltop.html %}

<div class="u-background-95">
  <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter u-hiddenPrint">
    {% include footer--simple.html %}
    <script src="{{ '/assets/scripts/elasticsearch.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/throbber.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/handlebars.runtime.js' | relative_url }}"></script>
    <script src="{{ '/assets/templates/software.tpl.js' | relative_url }}"></script>
    <script src="{{ '/assets/templates/tot.tpl.js' | relative_url }}"></script>
    <script src="{{ '/assets/templates/suggestion.tpl.js' | relative_url }}"></script>
    <script src="{{ '/assets/templates/pager.tpl.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/esDevelopersItaliaQuery.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/esQuery.config.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/esQuery.js' | relative_url }}"></script>
  </div>
</div>

</body>
</html>
