---
layout: internal-long
---

{% include setlang.html %}

{% comment %}

{% include breadcrumbs.html %}
{% include share.html %}

{% assign subnav = site.data[page.subnav] %}
{% include linklist.html items=subnav dynamic=true %}

{% endcomment %}
{% assign github_tech_list = site.github_tech_list %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/datatables/jquery.dataTables.min.css">



<div class="row">
  <div class="col-12">
    <h1 class="u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
      {{ page.title }}
    </h1>
    <h2 class="u-text-r-m u-textWeight-300 u-color-20  u-lineHeight-m">
      {{ page.subtitle }}
    </h2>
  </div>
</div>

<hr class="Separator-room u-background-50" />

<div class="row">
  <div class="col-12">
    {{ content }}
  </div>
</div>


<div class="row">
  <div class="col-12">
    <table id="issues_table" class="display responsive" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Created</th>
          <th>Language</th>
          <th data-priority="2">{{ t.todo_page_project }}</th>
          <th data-priority="1">{{ t.todo_page_subproject }}</th>
          <th data-priority="0">{{ t.todo_page_title }}</th>
          <th data-priority="11">{{ t.todo_page_type }}</th>
          <th data-priority="10">{{ t.todo_page_labels }}</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<script>
  // dictionary of projects
  var projects_dictionary = {{ t.todo_projects_dict | jsonify }};
</script>
<!-- Load jquery -->
<script src="/assets/vendor/jquery.min.js"></script>
<!-- Load unminified GH issues script TEST ONLY -->
<script src="/assets/js-perpage/github-issues.min.js"></script>