---
layout: default
---

{% include setlang.html %}

<section class="project__content {% if page.resources %}with-resources{%endif%}">
    <div class="container d-flex justify-content-center">

        <div class="project__maincontent col-md-10">
            <h1>{{page.title}}</h1>
            {% if page.subtitle %}
            <h2>{{page.subtitle}}</h2>
            {%endif%}

            {{page.content}}

            {% if page.see_also.size > 0 %}
            <div class="mt-4">
                {% for button in page.see_also %}
                <a href="{{button.url}}" class="btn btn-outline-primary mr-3 mt-2">{{button.label}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </div>
</section>

{% if page.pair-blocks!=nil%}
{% include pair-blocks.html blocks=page.pair-blocks %}
{% endif %}