---
layout: default
---

{% include setlang.html %}

<div class="simplelayout-main-image text-center">
  <div class="simplelayout-main-image-container" style="background-image: url('{{page.image}}');">
  </div>
</div>
<div class="simplelayout-first-part">
  <div class="container d-flex justify-content-center">
    <article class="col-sm-10 simplelayout-main-text">
      <h1>{{page.title}}</h1>
      {% if page.subtitle %}
      <h2>{{page.subtitle}}</h2>
      {%endif%}
      <div class="my-2 my-md-5">{{ content }}</div>
    </article>
  </div>
</div>

{% if page.include-discuss %}
{% include banner-discuss.html %}
{% endif %}

{% if page.alternate-blocks!=nil%}
{% include alternate-blocks.html blocks=page.alternate-blocks %}
{% endif %}
{% if page.include-developers-newsletter %}
{% include banner-newsletter.html newsletterdata=site.newsletterdata %}
{% endif %}
{% if page.pair-blocks!=nil%}
{% include pair-blocks.html blocks=page.pair-blocks %}
{% endif %}

{% include banner-joinus.html %}
