---
layout: default
---

{% include setlang.html %}

<section class="project__content {% if page.resources %}with-resources{%endif%}">
    <div class="container-xxl text-break">
        <div class="project__maincontent col-12">
            <h1>{{page.title}}</h1>
            {% if page.subtitle %}
            <h2>{{page.subtitle}}</h2>
            {%endif%}

            <div class="simplelayout-main-content my-2 my-md-5">
            {{ content }}
            </div>

            {% if page.see_also.size > 0 %}
            <h4 class="mt-4">{{t.see_also}}</h4>
            <ul>
                {% for button in page.see_also %}
                <li><a href="{{button.url}}">{{button.label}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>

{% if page.pair-blocks!=nil%}
{% include pair-blocks.html blocks=page.pair-blocks %}
{% endif %}
