---
layout: default
---

{% include setlang.html %}

{% comment %}

  {% include breadcrumbs.html %}
  {% include share.html %}

  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}

{% endcomment %}

<div class="u-background-50 u-layout-r-withGutter u-padding-bottom-xxl u-padding-top-xxl">
  <h1 class="u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
    {{ page.title }}</h1>
</div>

<hr class="Separator-room u-background-50" />
<hr class="Separator Separator--up u-background-grey-15" />

<div class="u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">
  <div class="Grid">

    <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">

      <div class="Prose">
        {{ content }}
      </div>

    </div>

  </div>
</div>
