---
layout: default
---
{% comment %}
This is a partial restyling.
Still to-do:
- DocsIta integration
- Forum integration
- New timeline
{% endcomment %}

{% include setlang.html %}
<div class="project__first-part">
  <div class="container">
    <div class="d-flex">
      {% if page.abilitante %}
      <h6 class="mb-2 mb-md-4">{{t.project_abilitante}}</h6>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="project__header">
          <h1 class="d-inline h1">{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="d-inline h1">{{ page.subtitle }}</h2>
          {% endif %}
          {% if page.description %}
          <p class="lead pt-3 pb-3 project__desc">
            {{page.description}}
          </p>
          {% endif %}
        </div>
        <div class="project__actors row">
          {% if page.owners %}
          <div class="col-12 col-lg-4">
            <span class="d-block">{{t.project_owner}}</span>
            <ul class="list-unstyled">
              {% for owner in page.owners %}
              <li><a href="{{owner.url}}" target="_blank">{{owner.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if page.managers %}
          <div class="col-12 col-lg-4">
            <span class="d-block">{{t.project_manager}}</span>
            <ul class="list-unstyled">
              {% for manager in page.managers %}
              <li><a href="{{manager.url}}" target="_blank">{{manager.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if page.external_website %}
          <div class="col-12 col-lg-4 text-truncate">
            <span class="d-block">{{t.website}}</span>
            <a href="{{ page.external_website }}" target="_blank">{{ page.external_website }}</a>
          </div>
          {% endif %}

          {% assign page_name = "issues" %}
          {% if active_lang == 'it' %}
            {% assign page_name = "attivita" %}
          {% endif %}

          {% assign split = page.url | split: '/' %}
          {% assign platform = split[2] %}

          <div class="col-12 col-lg-4">
            {% unless page.hide_activities %}
            <span class="d-block">{{ t.project_issues }}</span>
            <a href="/{{ active_lang }}/{{ page_name }}?platform={{ platform }}">{{ t.project_issues_go }} →</a>
            {% endunless %}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        {% include github_team_members.html %}
      </div>
    </div>
    <div class="project__heroback">
      {{ page.title }}
    </div>
  </div>
</div>

<section class="project__content {% if page.resources %}with-resources{%endif%}">
  <div class="container d-flex justify-content-center">

    <div class="project__maincontent col-12 col-md-10">
      {{ content }}

      {% if page.collab %}
        <h2>{{t.project_collab}}</h2>
        {% include platform-collab.html %}
      {% endif %}

      {% if page.resources %}
        {% unless page.resources_hide_title %}
          <h2>{{t.project_risorse}}</h2>
        {% endunless %}
      {% include platform-resources.html %}
      {% endif %}

      {% if page.newsletterdata %}
      {% include banner-newsletter.html newsletterdata=page.newsletterdata %}
      {% endif %}
    </div>

    {% capture toc %}
    {% toc %}
    {% if page.collab %}
    <ul class="section-nav">
      <li class="toc-entry toc-h2"><a href="#collab">{{ t.project_collab }}</a></li>
    </ul>
    {% endif %}
    {% if page.resources %}
    <ul class="section-nav">
      <li class="toc-entry toc-h2"><a href="#resources">{{ page.resources | objects_keys | join: ", " }}</a></li>
    </ul>
    {% endif %}
    {% if page.newsletterdata %}
    <ul class="section-nav">
      <li class="toc-entry toc-h2"><a href="#newsletter">Newsletter</a></li>
    </ul>
    {% endif %}
    {% endcapture %}
    {% include sideblock.html image=page.logo content=toc external_website=page.external_website title=page.title %}

  </div>
</section>

{% include platform-apis.html %}
