---
layout: default
lang: it
---

{% include setlang.html %}
{% assign platforms = site.platforms | where:"lang",active_lang %}

<div class="projectslist">
  <div class="container">
    <section class="projectslist__content mt-2 mt-md-5 mb-2 mb-md-5 pt-2 pt-md-4 pb-2">
      <h1>{{ page.title | capitalize }}</h1>
      <div class="row mb-2 mb-md-4">
        <div class="col-md-6">
          <h2 class="subtitle">{{ page.subtitle }}</h2>
        </div>
        <div class="col-md-5 offset-md-1 py-2 py-md-2 my-2 my-md-0">
          {{ content }}
        </div>
      </div>
      <div class="projectslist__listing pt-2 pt-md-4 pb-2 pb-md-4">
        <div class="row row-eq-height">
          {% for platform in platforms %}
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2 p-md-3">
            <catalogue-item
              class="h-100 d-flex"
              name="{{ platform.title }}"
              description="{{ platform.subtitle | escape }}"
              url="{{ platform.url }}"
              logo="{{ platform.logo | relative_url | default:'/assets/images/cover_softwareriuso.png' }}"
              fallback="/assets/images/cover_softwareriuso.png"
            ></catalogue-item>
            <!-- <div class="card-wrapper shadow">
              <div class="card card-img no-after">
                  <div class="img-responsive-wrapper">
                      <div class="img-responsive">
                          <figure class="img-wrapper">
                              <img src="{{platform.logo | relative_url | default:'/assets/images/cover_softwareriuso.png'}}"
                                  title="{{platform.title}} logo" alt="{{platform.title}} logo">
                          </figure>
                      </div>
                  </div>
                  <div class="card-body">
                      <h6 class="card-title"><a title="{{platform.title}}" href="{{platform.url}}"
                          class="color-inherit">{{platform.title}}</a></h6>
                      <p class="card-text">{{platform.subtitle}}</p>
                      <a class="read-more" href="{{platform.url}}">
                          <span class="text">{{t.software.read_more}}</span>
                          <svg class="icon">
                              <use href="/assets/svg/sprites.svg#it-arrow-right"></use>
                          </svg>
                      </a>
                  </div>
              </div>
            </div> -->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
