---
layout: default
---

{% include setlang.html %}

{% comment %}
  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}
  {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
  {% capture pills %}{% include pills.html items=page.tags  %}{% endcapture %}
  {% include sideblock.html title=t.home_projects_expand content=pills %}
{% endcomment %}

<div >
<article itemscope itemtype="http://schema.org/BlogPosting" class="postarticle">
  <div class="postarticle__header d-flex align-items-center">
    <div class="container py-4">
      {% if page.project_ref %}
      <h3 class="px-2 px-md-5 py-2">{{ page.project_ref }}</h3>
      {% endif %}
      <h1 itemprop="name headline" class="px-2 px-md-5 py-2 py-md-3" >{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="px-2 px-md-5 py-2 mt-md-2">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
  </div>
  <div class="postarticle__content my-2 my-md-4 py-2 py-md-4">
    <div class="container d-flex justify-content-center pb-2">
      <div class="col-md-10 ">

        <div class="d-flex py-4">
        {% if page.author %}
        <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="postarticle__author">
          <span itemprop="name">{{ page.author }}</span>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" >
              {{ page.date | localize: active_lang, ':short_date' }}</time>
        </div>
        {% endif %}
        <div class="postarticle__socials ms-auto">
          {% include share.html notext=true %}
        </div>
      </div>

      <div class="postarticle__text font-serif py-2 py-md-5">
          {{ content }}
      </div>

      {% if page.tags.size > 0 and active_lang=='it' %}
        <hr class="pb-2 pb-md-5">
        {% include pills.html items=page.tags header=t.news_categories %}
      {% endif %}

      </div>
    </div>

  </div>

</article>
</div>

{% include banner-joinus.html %}

