---
layout: default
lang: it
---

{% include setlang.html %}
{% assign projects = site.projects | where:"lang",active_lang %}

<div class="projectslist">
  <div class="container">
  <section class="projectslist__content mt-2 mt-md-5 mb-2 mb-md-5 pt-2 pt-md-4 pb-2">
    <h1>{{ page.title | capitalize }}</h1>
    <div class="font-serif color-content mt-2 mt-md-4 mb-2 mb-md-4">{{page.content}}</div>
    <div class="projectslist__listing pt-2 pt-md-4 pb-2 pb-md-4">
      <div class="row row-eq-height">
        {% for proj in projects %}
        <div class="col-md-4 p-2 p-md-3">
          <article class="d-flex flex-column align-items-start h-100 mb-md-2">
              {% if proj.logo %}
              <figure>
              <img class="w-100" src="{{proj.logo | relative_url}}">
              </figure>
              {% endif %}
              <h1 class="projectslist__listing__title"><a class="decoration-none color-inherit" href="{{proj.url}}">{{proj.title}}</a></h1>
              <a class="projectslist__listing__url mt-auto decoration-none" href="{{proj.url}}">{{t.software.read_more}} &rarr;</a>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  </div>
</div>


