---
layout: default
---

{% include setlang.html %}

<div class="u-layout-wide u-layoutCenter u-padding-bottom-xxl u-padding-top-xxl u-layout-r-withGutter">

  {% include breadcrumbs.html %}

  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size8of12 u-lg-size8of12">

      <article class="Prose u-layout-prose">
        <h1>{{ page.title | escape }}</h1> {{ content }}
      </article>

    </div>

    <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12">
      <div class="u-cf u-padding-bottom-xxl">
        {% include share.html %}
      </div>

      <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">

        {% assign subnav = site.data[page.subnav] %}
        {% include linklist.html items=subnav dynamic=true %}

      </div>
    </div>
  </div>

</div>
