---
layout: default
---
{% comment %}
This is a partial restyling.
Still to-do:
- DocsIta integration
- Forum integration
- New timeline
{% endcomment %}

{% include setlang.html %}
{% assign actors = site.data.actors %}
<div class="project__first-part">
  <div class="container">
    <div class="d-flex">
      {% if page.abilitante %}
      <h6 class="mb-2 mb-md-4">{{t.project_abilitante}}</h6>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="project__header">
          <h1 class="d-inline h1">{{ page.title }}</h1>
          <h2 class="d-inline h1">{{ page.subtitle }}</h2>
          {% if page.description %}
          <p class="lead pt-3 pb-3 project__desc">
            {{page.description}}
          </p>
          {% endif %}
        </div>
        <div class="project__actors row">
          {% if page.owners %}
            <div class="col-4">
              <span class="d-block">{{t.project_owner}}</span>
              <ul class="list-unstyled">
                {% for actor in page.owners %}
                <li><a href="{{actors[actor].url}}">{{actors[actor].t[page.lang] | default:actor}}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if page.managers %}
            <div class="col-4">
              <span class="d-block">{{t.project_manager}}</span>
              <ul class="list-unstyled">
                {% for actor in page.managers %}
                <li><a href="{{actors[actor].url}}">{{actors[actor].t[page.lang] | default:actor}}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        {% include github_team_members.html %}
      </div>
    </div>
    <div class="project__heroback">
       {{ page.title }}
    </div>
  </div>
</div>
{% if page.resources %}
  {% include project-resources.html %}
{% endif %}

<section class="project__content">
  <div class="container d-flex justify-content-center">

    <div class="project__maincontent col-md-10">
      {{page.content}}
    </div>

  </div>
</section>

{% include banner-newsletter.html newsletterdata=page.newsletterdata %}
{% include project-apis.html %}

