---
layout: default
---

{% include setlang.html %}

{% assign description = page.description|first|last %}
{% comment %}

  {% include breadcrumbs.html %}
  {% include share.html %}

  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}

{% endcomment %} 

{% assign root = '/' | append: active_lang | append: '/software' %}

<div class="container page-softwares-list">
 <div class="intro">
    <h1>{{ page.title }}</h1>
    <div class="row">
      <div class="col-md-7">
        <p class="subtitle font-serif color-content my-2 my-md-4">{{ page.subtitle }}</p>
      </div>
    </div>
  </div>      
  <div class="container list-item-sorting">
    {% for software in site.data.crawler.softwares limit: 6 %}
      {% if software.it.riuso.codiceIPA == nil %}
        {% if foorloop.lenght != 0 %}
          <div class="software_macro_category_title row">
            <div class="col-md-7">
              <h2>{{ t.software.software_open }}</h2>
            </div>
             <div class="col-md-5 how">
              <a href="/it/come-lo-uso">Come lo uso &rarr;</a>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %} 
    
    <div class="row row-eq-height">
    {% for software in site.data.crawler.softwares limit: 6 %}
      {% if software.it.riuso.codiceIPA == nil %}
      {% assign mainImage = '/assets/images/placeholder-software-riuso.jpg' %}
      {% if software.description[active_lang_extended].screenshots != nil %}
        {% assign mainImage = software.description[active_lang_extended].screenshots | first %}
      {% elsif software.description.eng.screenshots != nil %}
        {% assign mainImage = software.description.eng.screenshots | first %}
      {% endif %}
      <div class="col-sm col-md-4 item mb-2 mb-md-5 p-2 p-md-3">
        <a href="/{{active_lang}}/software/{{software.id}}" class="d-block decoration-none " >
        <div class="main-image" style=" background: url({{mainImage}}) no-repeat center center;">
        </div>
        <p class="name color-inherit">
          {% if software.description[active_lang_extended].localisedName != nil %}
            {{ software.description[active_lang_extended].localisedName }}
          {% else %}
            {{ software.name }}
          {% endif %}
        </p>
        <span class="item-more" > {{ t.software.read_more }} &rarr;</span>
        </a>
      </div>
      {% endif %}
    {% endfor %} 
    </div>
    {% for software in site.data.crawler.softwares limit: 6 %}
      {% if software.it.riuso.codiceIPA == nil %}
        {% if foorloop.lenght != 0 %}
         {% include internal-link.html target="software_open" %} 
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  
  <div class="container list-item-sorting">
    <div class="software_macro_category_title row">
      <div class="col-md-7">
        <h2>{{ t.software.reuse_software }}</h2>
      </div>
      <div class="col-md-5 how">
        <a href="/it/come-lo-uso">Come lo uso &rarr;</a>
      </div>
    </div>
    <div class="row row-eq-height">
    {% for software in site.data.crawler.softwares limit: 6 %}
      {% if software.it.riuso.codiceIPA != nil %}
      <div class="col-sm col-md-3 item mb-2 mb-md-5 p-2 p-md-3">
        <a href="{{software.id}}" class="d-block decoration-none ">
        {% assign mainImage = '/assets/images/placeholder-software-riuso.jpg' %}
        {% if software.description[active_lang_extended].screenshots != nil %}
          {% assign mainImage = software.description[active_lang_extended].screenshots | first %}
        {% elsif software.description.eng.screenshots != nil %}
          {% assign mainImage = software.description.eng.screenshots | first %}
        {% endif %}
        <p class="icon-type-public-sw">SOFTWARE A RIUSO</p>
        <div class="main-image" style=" background: url({{mainImage}}) no-repeat center center;">
        </div>
        <p class="name color-inherit">
          {% if software.description[active_lang_extended].localisedName != nil %}
            {{ software.description[active_lang_extended].localisedName }}
          {% else %}
            {{ software.name }}
          {% endif %}
        </p>
        <span class="item-more"> {{ t.software.read_more }} &rarr;</span>
        </a>
      </div>
      {% endif %}
    {% endfor %} 
    </div>
    
  </div>
</div>
