---
layout: default
---

{% include setlang.html %}

{% comment %}
{% include breadcrumbs.html %}
{% include share.html %}
{% assign subnav = site.data[page.subnav] %}
{% include linklist.html items=subnav dynamic=true %}
{% endcomment %}

{% assign recent_sw   = site.data.crawler.softwares | sort: "publiccode.releaseDate" | reverse | slice: 0, 4 %}
{% assign active_sw   = site.data.crawler.softwares | sort: "vitalityScore" | reverse | slice: 0, 4 %}
{% assign efficient_pas   = site.data.crawler.softwares | where_exp: "item", "item.publiccode.it.riuso.codiceIPA != nil" | group_by: "publiccode.it.riuso.codiceIPA" | sort: "size" | reverse | slice: 0, 4 %}

<div class="container page-softwares-list">
  <div class="intro">
    <h1>{{ page.title }}</h1>
    <div class="row mb-2 mb-md-4">
      <div class="col-md-6">
        <h2 class="subtitle">{{ page.subtitle }}</h2>
      </div>
      <div class="col-md-5 offset-md-1 py-2 py-md-2 my-2 my-md-0">
        {{ page.content }}
      </div>
    </div>
  </div>

  {% if page.pair-blocks!=nil%}
  {% include pair-blocks.html blocks=page.pair-blocks %}
  {% endif %}

  <!-- <div class="row py-2">
    <div class="col-3"></div>
    <div class="col-3 text-right">
      <a href="/{{ active_lang }}/search?type=reuse_software&page=0&sort=relevance" target="_blank"
        class="btn btn-secondary mt-2">{{ t.software.reuse_software }}</a>
    </div>
    <div class="col-4">
      <a href="/{{ active_lang }}/search?type=software_open&page=0&sort=relevance" target="_blank"
        class="btn btn-primary mt-2">{{ t.software.software_open }}</a>
    </div>
    <div class="col-2"></div>
  </div> -->

  {% if recent_sw.size > 0 %}
  <div class="container list-item-sorting">
    <div class="software_macro_category_title row">
      <div class="col-md-7">
        <h2>{{ t.software.recent_software }}</h2>
      </div>

      <!-- <div class="col-md-5 how">
        <a href="{{ t.home_hero_buttonurl }}">{{ t.how_to_use }} &rarr;</a>
      </div> -->

    </div>
    <div class="row row-eq-height">
      {% include software-listing.html
      items=recent_sw
      show_type=false
      %}
    </div>
    <div class="row">
      <a href="/{{ active_lang }}/pa" target="_blank" class="btn btn-primary m-auto">{{ t.software.show_all }}</a>
    </div>
  </div>
  {% endif %}

  {% if active_sw.size > 0 %}
  <div class="container list-item-sorting">
    <div class="software_macro_category_title row">
      <div class="col-md-9">
        <h2>{{ t.software.active_software }}</h2>
      </div>

    </div>
    <div class="row row-eq-height">
      {% include software-listing.html
      items=active_sw
      show_type=false
      %}
    </div>
    <div class="row">
      <a href="/{{ active_lang }}/pa" target="_blank" class="btn btn-primary m-auto">{{ t.software.show_all }}</a>
    </div>
  </div>
  {% endif %}

  {% if efficient_pas.size > 0 %}
  <div class="container list-item-sorting">
    <div class="software_macro_category_title row">
      <div class="col-md-9">
        <h2>{{ t.software.pa_most_active }}</h2>
      </div>

    </div>
    <div class="row row-eq-height">
      {% include pa-listing.html
      items=efficient_pas
      show_type=false
      %}
    </div>
    <div class="row">
      <a href="/{{ active_lang }}/pa" target="_blank" class="btn btn-primary m-auto">{{ t.software.show_all }}</a>
    </div>
  </div>
  {% endif %}

</div>