---
layout: default
---

{% include setlang.html %}

{% comment %}

  {% include breadcrumbs.html %}
  {% include share.html %}

  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}

{% endcomment %}
{{ page.countries}} 

<div class="container page-software-detail">
	<div class="row intro">
    <div class="col-sm-7">
      <div class="intro-name">
        <img src="{{ page.logo}}" class="d-inline-block">
        <h1 class="d-inline-block">
          {{ page.description[active_lang_extended].localisedName|capitalize }} <span class="badge badge-pill badge-primary">{{ page.softwareVersion }}</span></h1>
        <div class="abstract-software">
          <h2>{{ page.description[active_lang_extended].genericName}}
            {% if page.isBasedOn != nil %}
            <br>
            {{ t.software.variant_by }} {{ page.legal.repoOwner }}
            {% endif %}
          </h2>
          <h3>{{ page.description[active_lang_extended].shortDescription }}</h3>
          <div class="tag">
            {% for tag in page.popularTags limit: 3 %}
              {% include set-tag.html label=tag %} 
            {% endfor %}
          </div>
          <div class="row legal-main-info">
            <div class="col">
              <p><span class="label">{{ t.software.published_by }} </span>
                <a href="#">{{ page.legal.repoOwner }}</a>
              </p>
            </div>
            <div class="col">
              <p><span class="label">{{ t.software.software_maintained_by }} </span>
                {% for contractor in page.maintenance.contractors %}
                  <a href="{{ contractor.website }}">{{ contractor.name }}</a>
                {% endfor %}
              </p>
            </div>
            <div class="col">
              <p><span class="label">{{ t.software.technical_contact }} </span>
                {% for contact in page.maintenance.contacts limit: 1 %}
                  <a href="mailto:{{ contact.email }}">{{ contact.name }}</a>
                  {{ contact.phone }}
                {% endfor %}
              </p>
            </div>           
          </div>
        </div>
      </div>
    </div>
		<div class="offset-sm-1 col-sm-4 ">
      <p class="h4 text-uppercase">{{ t.software.technical_detail }}</p>
      <div class="drops-details">
        <div class="vitality-score">
          <p>{{ t.software.vitality }}:</p>
          <p class="score d-inline-block"> {{ page.vitalityScore}}%</p>
          <div id="softwareChart">
            <canvas id="vitalityChart"></canvas>
          </div>
          <div class="status-developement">
            <p>{{ t.software.development_status }}:  {% include software_development_status.html label=page.developmentStatus %} </p>
          </div>
        </div>
        <div class="goto">
          <p><a href=" {{ page.description[active_lang_extended].documentation }} ">{{ t.software.goToDocumentation }} <i class="it-arrow-right"></i></a></p>
        </div>
        <div class="goto">
          <p><a href=" {% if page.landingUrl != nil %}{{ page.landingUrl }} {% else %} {{ page.url }}  {% endif %}">{{ t.software.goToCode }} <i class="it-arrow-right"></i></a></p>
        </div>
        <div class="goto">
          <p><a href=" {{ page.roadmap }} ">{{ t.software.goToRoadmap }} <i class="it-arrow-right"></i></a></p>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="container-fluid">
  <div class="row media-gallery">
    <div class="card-columns">
      {% for video in page.description[active_lang_extended].videos %} 
      <div class="card">
        <iframe width="420" height="315" src="{{ video }}" frameborder="0" ></iframe>
      </div>
      {% endfor %}

      {% for screenshot in page.description[active_lang_extended].screenshots %} 
      <div class="card">
        <img src="{{ screenshot }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <div class="functionality">
    <h2> {{ t.software.functionality }} </h2>
    <div class="row">
      <div class="col-sm-6 variant">
        <h4> {{ t.software.functinality_this_variant }} </h4>
        <div class="function-list">
          {% if page.description[active_lang_extended].featureList.size > 10 %}
            {% for feature in page.description[active_lang_extended].featureList limit: 10 %}
            <p> {{ feature }} </p>
            {% endfor %}
            <p>
              <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
            </p>
            <div class="collapse" id="otherFeature">
              {% for feature in page.description[active_lang_extended].featureList offset: 10 %}
              <p> {{ feature }} </p>
              {% endfor %} 
            </div>
          {% else %}
            {% for feature in page.description[active_lang_extended].featureList  %}
            <p> {{ feature }} </p>
            {% endfor %}
          {% endif%}
        </div>
        {% if page.usedBy.size != nil %}
          <div id="usedBy">
            <a data-toggle="collapse" href="#by-amministration" role="button" aria-expanded="false" aria-controls="by-amministration" class="count">
              {{ t.software.used_by}} {{ page.usedBy | size }}
              {% if page.usedBy.size >= 1 %}
                {{ t.software.administrations }}
              {% else %}
                {{ t.software.administration }}
              {% endif %}
            </a>
            <div class="collapse" id="by-amministration">
              {% for item in page.usedBy %} 
                <a href="#"> {{ item }} </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
      {% if page.oldVariant.size != nil %}
        <div class="col-sm-6 variant">
          <h4> {{ t.software.functinality_other_variant }} </h4>
          <div class="function-list">
            {% if page.oldFeatureList[active_lang_extended].size > 10 %}
              {% for feature in page.oldFeatureList[active_lang_extended] limit: 10 %}
              <p> {{ feature }} </p>
              {% endfor %}
              <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
              <div class="collapse" id="otherFeature">
                {% for feature in page.oldFeatureList[active_lang_extended] offset: 10 %}
                <p> {{ feature }} </p>
                {% endfor %} 
              </div>
            {% else %}
              {% for feature in page.oldVariant[active_lang_extended]  %}
              <p> {{ feature }} </p>
              {% endfor %}
            {% endif%}
          </div>
          <div id="oldVariant">
            <a data-toggle="collapse" href="#listVariant" role="button" aria-expanded="false" aria-controls="listVariant" class="count">
                {{ page.oldVariant | size }}
                {% if page.oldVariant.size > 1 %}
                  {{ t.software.variants_present }}
                {% else %}
                  {{ t.software.variant_present }}
                {% endif %}
            </a>
            <div class="collapse" id="listVariant">
              {% for variant in page.oldVariant  %}
              <div class="variantDetail">
               <a href="{{ variant[active_lang_extended].url }}">{{ t.software.variant_by }} {{ variant.legal.repoOwner }} </a>
               <p><span class="label">{{ t.software.additional_features }}</span>: {{ variant[active_lang_extended].features }}</p>
               <p><span class="label">{{ t.software.vitality }}: {{ variant.vitalityScore }}%</span></p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}  
    </div>
  </div>
  <div class="interestRelatedSoftwares">
    <h2> {{ t.software.interest_related_softwares }} </h2>
    <div class="row justify-content-sm-center">
      {% for item in page.relatedSoftwares limit : 4 %}
        <div class="col-sm-3 relate">
          <img class="img-fluid" src="{{ item.image }}" alt="{{ item[active_lang_extended].localisedName}}">
          <div class="relate-body">
            <p class="relate-title">{{ item[active_lang_extended].localisedName}}</p>
            <a href="{{ item[active_lang_extended].url }}" class="relate-link"> {{ t.software.read_more }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="tags-relate text-center">
  <p>
    <strong>TAG</strong> 
    {% for tag in page.shareTags limit: 3 %}
      {% include set-tag.html label=tag %} 
    {% endfor %}
  </p>    
  </div>
</div>
<div class="detail-sheet">
  <div class="container sheet">
    <div class="top">
    </div>
    <div class="content-sheet">
      <div class="row justify-content-sm-center ">
        <div class="col-sm-10">
          <div class="heading-title">
            <p>{{ t.software.detailed_info }} </p>
            <div class="title">
              <h2 class="h1"> {{ page.description[active_lang_extended].localisedName}} <span class="badge badge-pill badge-primary">{{ page.softwareVersion }}</span></h2>
              <h2>{{ page.description[active_lang_extended].genericName}} </h2>
            </div>
          </div>
          <div class="heading-maintenance">
            <div class="row">
              <div class="col-md-2">
                <p>
                  <span class="label">{{ t.software.last_release }}</span>
                  {{ page.releaseDate }}
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <span class="label">{{ t.software.maintainance_type }}</span>
                  {{ page.maintenance.type }}
                </p>
              </div>
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.contract_with }}</span>
                  {% for contractor in page.maintenance.contractors %}
                    <a href="{{ contractor.website }}" class="until">{{ contractor.name }}</a> {{ t.software.until }} {{ contractor.until}}
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
          <div class="heading-maintenance-contact">
            <p>
              <span class="label">{{ t.software.technical_contact }}</span>
            </p>
            <div class="row">
              {% for contact in page.maintenance.contacts %}
              <div class="col-md">
                <p>
                  <a href="mailto:{{ contact.email }}">{{ contact.name }}</a>  {{ contact.phone }}
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="heading-legal-dependencies">
            <div class="row">
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.license }}</span>
                  {{ page.legal.license }}
                </p>
              </div>
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.platforms }}</span>
                  {% for platform in page.platforms %}
                    <a href="#">{{ platform }}</a>
                  {% endfor %}
                </p>
              </div>
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.dependencies_list }}</span>
                  {% for dependence in page.dependencies.open %}
                    <a href="#">{{ dependence.name }}
                      {% if dependence.version != nil %}
                      {{ dependence.version}}
                      {% endif %}
                      {% if dependence.versionMin != nil %}
                      {{ dependence.versionMin}}
                        {% if dependence.versionMax != nil %}
                         - {{ dependence.versionMax}}
                        {% endif %}
                      {% endif %}
                    </a> 
                  {% endfor %}
                  {% for dependence in page.dependencies.proprietary %}
                    <a href="#">{{ dependence.name }}
                      {% if dependence.version != nil %}
                      {{ dependence.version}}
                      {% endif %}
                      {% if dependence.versionMin != nil %}
                      {{ dependence.versionMin}}
                        {% if dependence.versionMax != nil %}
                         - {{ dependence.versionMax}}
                        {% endif %}
                      {% endif %}
                    </a> 
                  {% endfor %}
                  {% for dependence in page.dependencies.hardware %}
                    <a href="#">{{ dependence.name }}
                      {% if dependence.version != nil %}
                      {{ dependence.version}}
                      {% endif %}
                      {% if dependence.versionMin != nil %}
                      {{ dependence.versionMin}}
                        {% if dependence.versionMax != nil %}
                         - {{ dependence.versionMax}}
                        {% endif %}
                      {% endif %}
                    </a> 
                  {% endfor %}
                </p>
              </div>
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.enabling_platforms }}</span>
                  {% if page.it.pagopa == true %}
                  <a href="#" class="enabling_platforms">
                    PagoPA
                  </a>
                  {% endif %}
                  {% if page.it.spid == true %}
                  <a href="#" class="enabling_platforms">
                    Spid
                  </a>
                  {% endif %}
                  {% if page.it.cie == true %}
                  <a href="#" class="enabling_platforms">
                    Cie
                  </a>
                  {% endif %}
                  {% if page.it.anpr == true %}
                  <a href="#" class="enabling_platforms">
                    Anpr
                  </a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="main row">
            <div class="col-sm-3">
              <div class="other-detail">
                <p><span class="label">{{ t.software.main_audience }}</span>
                  {% for audience in page.intendedAudience.onlyFor %}
                    {% include set-audience.html label=audience %}
                  {% endfor %}
                </p>
              </div>
              {% if page.localisation.localisationReady == true %}
              <div class="other-detail">
                <p><span class="label">{{ t.software.supported_languages }}</span>
                 {% for language in page.localisation.availableLanguages %}
                    {% include set-language-supported.html label=language %}
                  {% endfor %}
                </p>
              </div>
              {% endif %}
              {% if page.description[active_lang_extended].awards == true %}
              <div class="other-detail">
                <p><span class="label">{{ t.software.awards }}</span>
                 {% for award in page.description[active_lang_extended].awards %}
                    <a href="#">{{ award }}</a>
                  {% endfor %}
                </p>
              </div>
              {% endif %}
              {% if page.description[active_lang_extended].apiDocumentation != nil %}
              <div class="other-detail">
                <p><span class="label">{{ t.software.api_documentation }}</span>
                 <a href="{{ page.description[active_lang_extended].apiDocumentation }}">{{ page.description[active_lang_extended].localisedName }} API</a>
                </p>
              </div>
              {% endif %}
            </div>
            <div class="col-sm-8 col-offset-sm-1">
              <p class="title">{{ t.software.extende_description }}</p>
              <p>{{ page.description[active_lang_extended].longDescription }}</p>
              <hr>
              <div class="relatedSoftwares">
                <p>
                  <span class="label">{{ t.software.related_software }}</span>
                  {% for item in page.softwareType.isRelatedTo %}
                    <a href="{{ item }}" class="relate-link"> {{ item }}</a>                  
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
