---
layout: default
---

{% include setlang.html %}

{% comment %}
{% include breadcrumbs.html %}
{% include share.html %}
{% assign subnav = site.data[page.subnav] %}
{% include linklist.html items=subnav dynamic=true %}
{% endcomment %}

{% assign reuse_sw   = site.data.crawler.softwares | where_exp: "item", "item.publiccode.it.riuso.codiceIPA != nil" | slice: 0, 60 %}
{% assign generic_sw = site.data.crawler.softwares | where_exp: "item", "item.publiccode.it.riuso.codiceIPA == nil" | slice: 0, 60 %}


<div class="container page-softwares-list">
  <div class="intro">
    <h1>{{ page.title }}</h1>
    <div class="row mb-2 mb-md-4">
      <div class="col-md-6">
        <h2 class="subtitle">{{ page.subtitle }}</h2>
      </div>
      <div class="col-md-5 offset-md-1 py-2 py-md-2 my-2 my-md-0">
        {{ page.content }}
      </div>
    </div>
  </div>


  <div class="container list-item-sorting">
    <div class="software_macro_category_title row">
      <div class="col-md-7">
        <h2>{{ t.software.reuse_software }}</h2>
      </div>
      <!--
      <div class="col-md-5 how">
        <a href="/it/come-lo-uso">Come lo uso &rarr;</a>
      </div>
      -->
    </div>
    <div class="row row-eq-height">

      {% include software-listing.html
      items=reuse_sw
      show_type=false
      %}

    </div>

  </div>
</div>


<div class="container list-item-sorting">
  <div class="software_macro_category_title row">
    <div class="col-md-9">
      <h2>{{ t.software.software_open }}</h2>
    </div>
    <!--
      <div class="col-md-3 how">
        <a href="/it/come-lo-uso">Come lo uso &rarr;</a>
      </div>
      -->
  </div>
  <div class="row row-eq-height">

    {% include software-listing.html
    items=generic_sw
    show_type=false
    %}

  </div>

</div>
</div>