---
layout: default
---

{% include setlang.html %}
{% assign description = page.description|first|last %}

{% comment %}

  {% include breadcrumbs.html %}
  {% include share.html %}

  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}


{% endcomment %}
{{ page.countries}}

<div class="container page-software-detail">
	<div class="row intro">
    <div class="col-md-7">
      <div class="intro-name">
        {% if page.logo %}
        <img src="{{ page.logo}}" class="d-inline-block" width="48" height="48">
        {% endif %}
        <h1 class="d-inline-block">
          {% if page.description[active_lang_extended].localisedName != nil %}
            {{ page.description[active_lang_extended].localisedName|capitalize }}
          {% else %}
            {{ page.title }}
          {% endif%}<span class="badge badge-pill badge-pill--sup badge-primary">{{ page.softwareVersion }}</span>
        </h1>
        <div class="abstract-software">
          {% if page.description[active_lang_extended].genericName != nil %}
          <h2>
            {{ page.description[active_lang_extended].genericName}}
            {% if page.isBasedOn != nil %}
              <br>
              <span class="abstract-software__variant">{{ t.software.variant_by }} {{ page.legal.repoOwner }}</span>
            {% endif %}
          </h2>
          {% elsif page.description.eng.genericName != nil %}
            <h2>
              {{ page.description.eng.genericName }}
              {% if page.isBasedOn != nil %}
                <br>
                <span class="abstract-software__variant"></span>{{ t.software.variant_by }} {{ page.legal.repoOwner }}</span>
              {% endif %}
            </h2>
          {% elsif page.description.eng.genericName == nil %}
            <h2>
              {{ description['genericName'] }}
              {% if page.isBasedOn != nil %}
                <br>
                <span class="abstract-software__variant"></span>{{ t.software.variant_by }} {{ page.legal.repoOwner }}</span>
              {% endif %}
            </h2>
          {% endif %}
          <h3 class="color-content font-serif my-2 my-md-4">
            {% if page.description[active_lang_extended].shortDescription != nil %}
              {{ page.description[active_lang_extended].shortDescription }}
            {% elsif page.description.eng.shortDescription != nil  %}
              {{ page.description.eng.shortDescription }}
            {% elsif page.description.eng.shortDescription == nil %}
              {{ description['shortDescription'] }}
            {% endif %}
          </h3>
          <div class="my-3">
            <ul class="home-software-tags__list list-inline">
            {% for tag in page.popularTags limit: 3 %}
              {% include set-tag.html label=tag tag=tag %}
            {% endfor %}
          </ul>
          </div>
          <div class="row legal-main-info">
            <div class="col-sm">
              <p><span class="label">{{ t.software.published_by }} </span>
                {{ page.legal.repoOwner }}
              </p>
            </div>
            {% if page.maintenance.type == "contract" %}
              {% if page.maintenance.contractors[0].name != nil %}
              <div class="col-sm">
                <p><span class="label">{{ t.software.software_maintained_by }} </span>
                  {% for contractor in page.maintenance.contractors %}
                    <a href="{{ contractor.website }}">{{ contractor.name }}</a>
                  {% endfor %}
                </p>
              </div>
              {% endif %}
            {% endif %}
            <div class="col-sm">
              <p><span class="label">{{ t.software.technical_contact }} </span>
                {% for contact in page.maintenance.contacts limit: 1 %}
                  <a href="mailto:{{ contact.email }}">{{ contact.name }}</a>
                  {{ contact.phone }}
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div class="offset-md-1 col-md-4 ">
      <p class="h4 text-uppercase">{{ t.software.technical_detail }}</p>
      <div class="drops-details">
        <div class="vitality-score">
          <p>{{ t.software.vitality }}:</p>
          <p class="score d-inline-block"> {{ page.vitalityScore }}%</p>
          <div id="softwareChart">
            <canvas id="vitalityChart"></canvas>
          </div>
          <div class="status-developement">
            <p>{{ t.software.development_status }}:  {% include software_development_status.html label=page.developmentStatus %} </p>
          </div>
        </div>
        {% if page.description[active_lang_extended].documentation != nil %}
          <div class="goto doc">
            <p><a href=" {{ page.description[active_lang_extended].documentation }} "><img src="/assets/icons/software_icons/it-documentazione.svg" >{{ t.software.goToDocumentation }} &rarr;</a></p>
          </div>
        {% elsif page.description.eng.documentation != nil  %}
          <div class="goto doc">
            <p><a href=" {{ page.description.eng.documentation }} "><img src="/assets/icons/software_icons/it-documentazione.svg" >{{ t.software.goToDocumentation }} &rarr;</a></p>
          </div>
        {% elsif page.description.eng.documentation == nil  %}
          <div class="goto doc">
            <p><a href=" {{ description['documentation'] }} "><img src="/assets/icons/software_icons/it-documentazione.svg" >{{ t.software.goToDocumentation }} &rarr;</a></p>
          </div>
        {% endif %}
          <div class="goto code">
            <p><a href=" {{ page.repoUrl }} "> <img src="/assets/icons/software_icons/it-codice.svg" >{{ t.software.goToCode }} &rarr;</a></p>
          </div>
        {% if page.roadmap != nil %}
        <div class="goto road">
          <p><a href=" {{ page.roadmap }} "><img src="/assets/icons/software_icons/it-roadmap.svg" >{{ t.software.goToRoadmap }} &rarr;</a></p>
        </div>
        {% endif %}
      </div>
		</div>
	</div>
</div>
<hr class="divider mb-0">

<div class="{% if page.oldVariant.size != nil %}container{% else %} container-fluid {% endif %}">
  <div class="functionality">
    {% if page.oldVariant.size != nil %}
      <h2> {{ t.software.functionality }} </h2>
    {% endif %}
    <div class="row {% if page.oldVariant.size == nil %} first {% endif %}">
      {% if page.oldVariant.size == nil %}
        <div class="col-md-6 software-ill">
        </div>
      {% endif %}
      {% if page.isBasedOn != nil %}
        <div class="col-md-6 variant">
          {% if page.oldVariant.size == nil %}
            <h2> {{ t.software.functionality }} </h2>
          {% endif %}
          <div class="function-list">
            {% if page.description[active_lang_extended].featureList != nil %}
              {% if page.description[active_lang_extended].featureList.size > 10 %}
                {% for feature in page.description[active_lang_extended].featureList limit: 10 %}
                <p> {{ feature }} </p>
                {% endfor %}
                <p>
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                </p>
                <div class="collapse" id="otherFeature">
                  {% for feature in page.description[active_lang_extended].featureList offset: 10 %}
                  <p> {{ feature }} </p>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in page.description[active_lang_extended].featureList  %}
                <p> {{ feature }} </p>
                {% endfor %}
              {% endif %}
            {% elsif page.description.eng.featureList != nil %}
              {% if page.description.eng.featureList.size > 10 %}
                {% for feature in page.description.eng.featureList limit: 10 %}
                  <p> {{ feature }} </p>
                {% endfor %}
                <p>
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                </p>
                <div class="collapse" id="otherFeature">
                  {% for feature in page.description.eng.featureList offset: 10 %}
                    <p> {{ feature }} </p>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in page.description.eng.featureList  %}
                  <p> {{ feature }} </p>
                {% endfor %}
              {% endif %}
            {% elsif page.description.eng.featureList == nil  %}
              {% if description['featureList'].size > 10 %}
                {% for feature in description['featureList'] limit: 10 %}
                  <p> {{ feature }} </p>
                {% endfor %}
                <p>
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                </p>
                <div class="collapse" id="otherFeature">
                  {% for feature in description['featureList'] offset: 10 %}
                    <p> {{ feature }} </p>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in description['featureList']  %}
                  <p> {{ feature }} </p>
                {% endfor %}
              {% endif %}
            {% endif %}
          </div>
          {% if page.usedBy.size != nil %}
            <div id="usedBy">
              <a data-toggle="collapse" href="#by-amministration" role="button" aria-expanded="false" aria-controls="by-amministration" class="count">
                {{ t.software.used_by}} {{ page.usedBy | size }}
                {% if page.usedBy.size >= 1 %}
                  {{ t.software.administrations }}
                {% else %}
                  {{ t.software.administration }}
                {% endif %}
                <span class="or">&or;</span>
                <span class="and">&and;</span>
              </a>
              <div class="collapse" id="by-amministration">
                {% for item in page.usedBy %}
                  <p> {{ item }} </p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
        {% if page.oldVariant.size != nil %}
          <div class="col-md-6 variant">
            <h4> {{ t.software.functionality_other_variant }} </h4>
            <div class="function-list">
              {% if page.oldFeatureList[active_lang_extended] != nil %}
                {% if page.oldFeatureList[active_lang_extended].size > 10 %}
                  {% for feature in page.oldFeatureList[active_lang_extended] limit: 10 %}
                  <p> {{ feature }} </p>
                  {% endfor %}
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                  <div class="collapse" id="otherFeature">
                    {% for feature in page.oldFeatureList[active_lang_extended] offset: 10 %}
                    <p> {{ feature }} </p>
                    {% endfor %}
                  </div>
                {% else %}
                  {% if page.oldFeatureList[active_lang_extended].size <= 10 %}
                    {% for feature in page.oldFeatureList[active_lang_extended]  %}
                      <p> {{ feature }} </p>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              {% elsif page.oldFeatureList.eng != nil  %}
                {% if page.oldFeatureList.eng.size > 10 %}
                  {% for feature in page.oldFeatureList.eng limit: 10 %}
                    <p> {{ feature }} </p>
                  {% endfor %}
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                  <div class="collapse" id="otherFeature">
                    {% for feature in page.oldFeatureList.eng offset: 10 %}
                      <p> {{ feature }} </p>
                    {% endfor %}
                  </div>
                {% else %}
                  {% for feature in page.oldFeatureList.eng  %}
                    <p> {{ feature }} </p>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
            <div id="oldVariant">
              <a data-toggle="collapse" href="#listVariant" role="button" aria-expanded="false" aria-controls="listVariant" class="count">
                  {{ page.oldVariant | size }}
                  {% if page.oldVariant.size > 1 %}
                    {{ t.software.variants_present }}
                  {% else %}
                    {{ t.software.variant_present }}
                  {% endif %}
                  <span class="or">&or;</span>
                  <span class="and">&and;</span>
              </a>
              <div class="collapse" id="listVariant">
                {% for variant in page.oldVariant  %}
                <div class="variantDetail">
                  <a href="{{ variant[active_lang_extended].url }}">{{ t.software.variant_by }} {{ variant.legal.repoOwner }} </a>
                  <p><span class="label">{{ t.software.additional_features }}</span>:
                    {% if variant[active_lang_extended] != nil and variant[active_lang_extended].size != 0 %}
                      {% for feature in variant[active_lang_extended].features %}
                        {{ feature}}{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    {% else %}
                      {% for feature in variant.eng.features %}
                        {{ feature}}{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    {% endif %}
                  </p>
                  <p><span class="label">{{ t.software.vitality }}:
                    {{ variant.vitalityScore }}%</span>
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="col">
          <div class="function-list">
            {% if page.description[active_lang_extended].featureList != nil %}
              {% if page.description[active_lang_extended].featureList.size > 10 %}
                {% for feature in page.description[active_lang_extended].featureList limit: 10 %}
                <p> {{ feature }} </p>
                {% endfor %}
                <p>
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                </p>
                <div class="collapse" id="otherFeature">
                  {% for feature in page.description[active_lang_extended].featureList offset: 10 %}
                  <p> {{ feature }} </p>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in page.description[active_lang_extended].featureList  %}
                <p> {{ feature }} </p>
                {% endfor %}
              {% endif %}
            {% elsif page.description.eng.featureList != nil %}
              {% if page.description.eng.featureList.size > 10 %}
                {% for feature in page.description.eng.featureList limit: 10 %}
                  <p> {{ feature }} </p>
                {% endfor %}
                <p>
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                </p>
                <div class="collapse" id="otherFeature">
                  {% for feature in page.description.eng.featureList offset: 10 %}
                    <p> {{ feature }} </p>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in page.description.eng.featureList  %}
                  <p> {{ feature }} </p>
                {% endfor %}
              {% endif %}
            {% elsif page.description.eng.featureList == nil  %}
              {% if description['featureList'].size > 10 %}
                {% for feature in description['featureList'] limit: 10 %}
                  <p> {{ feature }} </p>
                {% endfor %}
                <p>
                  <a data-toggle="collapse" href="#otherFeature" role="button" aria-expanded="false" aria-controls="otherFeature">{{ t.software.show_all }}</a>
                </p>
                <div class="collapse" id="otherFeature">
                  {% for feature in description['featureList'] offset: 10 %}
                    <p> {{ feature }} </p>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in description['featureList']  %}
                  <p> {{ feature }} </p>
                {% endfor %}
              {% endif %}
            {% endif %}
          </div>
          {% if page.usedBy.size != nil %}
            <div id="usedBy">
              <a data-toggle="collapse" href="#by-amministration" role="button" aria-expanded="false" aria-controls="by-amministration" class="count">
                {{ t.software.used_by}} {{ page.usedBy | size }}
                {% if page.usedBy.size >= 1 %}
                  {{ t.software.administrations }}
                {% else %}
                  {{ t.software.administration }}
                {% endif %}
                <span class="or">&or;</span>
                <span class="and">&and;</span>
              </a>
              <div class="collapse" id="by-amministration">
                {% for item in page.usedBy %}
                  <p> {{ item }} </p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  {% if page.relatedSoftwares %}
  <div class="interestRelatedSoftwares">
    <h2> {{ t.software.interest_related_softwares }} </h2>
    <div class="row">
      <div class="owl-carousel col-10 offset-1 offset-sm-0 col-sm-12">
        {% for item in page.relatedSoftwares limit : 4 %}
          <div class="col-11 relate">
            <img class="img-fluid" src="{{ item.image }}" alt="{% if item[active_lang_extended].localisedName != nil %}{{ item[active_lang_extended].localisedName }}{% else %}{{ item.name }}{% endif %}">
            <div class="relate-body">
              <p class="relate-title">
                {% if item[active_lang_extended].localisedName != nil %}
                  {{ item[active_lang_extended].localisedName }}
                {% else %}
                  {{ item.name }}
                {% endif %}
              </p>
              <a href="{{ item[active_lang_extended].url }}" class="relate-link"> {{ t.software.read_more }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if page.shareTags %}
  <div class="tags-relate text-center">
  <p>
    <strong>TAG</strong>
    {% for tag in page.shareTags limit: 3 %}
      {% include set-tag.html label=tag %}
    {% endfor %}
  </p>
  </div>
  {% endif %}
</div>
<div class="detail-sheet">
  <div class="container sheet">
    <div class="top">
    </div>
    <div class="content-sheet">
      <div class="row justify-content-center ">
        <div class="col-10 col-sm-10">
          <div class="heading-title">
            <p>{{ t.software.detailed_info }} </p>
            <div class="title">
              <h2 class="h1">
                {% if page.description[active_lang_extended].localisedName != nil %}
                  {{ page.description[active_lang_extended].localisedName|capitalize }}
                {% else %}
                  {{ page.title }}
                {% endif%}
                <span class="badge badge-pill badge-pill--sup badge-primary">{{ page.softwareVersion }}</span>
              </h2>
              <h2>
                {% if page.description[active_lang_extended].genericName != nil %}
                  {{ page.description[active_lang_extended].genericName}}
                {% elsif page.description.eng.genericName != nil %}
                  {{ page.description.eng.genericName }}
                {% elsif page.description.eng.genericName == nil %}
                  {{ description['genericName'] }}
                {% endif %}
              </h2>
            </div>
          </div>
          <div class="heading-maintenance">
            <div class="row">
              <div class="col-5 col-sm-5 col-md-2">
                <p>
                  <span class="label">{{ t.software.last_release }}</span>
                  {{ page.releaseDate }}
                </p>
              </div>
              <div class="col-7 col-sm-7 col-md-3">
                <p>
                  <span class="label">{{ t.software.maintainance_type }}</span>
                  {{ page.maintenance.type }}
                </p>
              </div>
              {% if page.maintenance.type == "contract" %}
                {% if page.maintenance.contractors[0].name != nil %}
                <div class="col-sm-12 col-md">
                  <p>
                    <span class="label">{{ t.software.contract_with }}</span>
                    {% for contractor in page.maintenance.contractors %}
                      <a href="{{ contractor.website }}" class="until">{{ contractor.name }}</a> {{ t.software.until }} {{ contractor.until}}
                    {% endfor %}
                  </p>
                </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="heading-maintenance-contact">
            <p class="d-none d-md-block">
              <span class="label">
              {% if page.maintenance.contacts.size == 1 %}
                {{ t.software.technical_contact }}
              {% else %}
                {{ t.software.technical_contacts }}
              {% endif %}
              </span>
            </p>
            <a data-toggle="collapse" href="#maintenanceContact" role="button" aria-expanded="false" aria-controls="maintenanceContact" class="d-block d-md-none controls">
               {% if page.maintenance.contacts.size == 1 %}
                {{ t.software.technical_contact }}
              {% else %}
                {{ t.software.technical_contacts }}
              {% endif %}
              <span class="or">&or;</span>
              <span class="and">&and;</span>
            </a>
            <div id="maintenanceContact" class="collapse dont-collapse-md">
              <div class="row">
                {% for contact in page.maintenance.contacts %}
                <div class="col-md">
                  <p>
                    <a href="mailto:{{ contact.email }}">{{ contact.name }}</a>  {{ contact.phone }}
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="heading-legal-dependencies">
            <div class="row">
              <div class="col-6 col-md">
                <p>
                  <span class="label">{{ t.software.license }}</span>
                  {{ page.legal.license }}
                </p>
              </div>
              <div class="col-6 col-md">
                <p>
                  <span class="label">{{ t.software.platforms }}</span>
                </p>
                  {% for platform in page.platforms %}
                    <p class="platforms">
                      {{ platform }}
                    </p>
                  {% endfor %}
              </div>
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.dependencies_list }}</span>
                  {% for dependence in page.dependencies.open %}
                    <p class="platforms">
                      {{ dependence.name }}

                      {% if dependence.version != nil %}
                        {{ dependence.version}}
                        {% if dependence.versionMin != nil %}
                          / {{ dependence.versionMin}}
                          {% if dependence.versionMax != nil %}
                           - {{ dependence.versionMax}}
                          {% endif %}
                        {% endif %}
                      {% elsif dependence.version == nil %}
                        {% if dependence.versionMin != nil %}
                          {% if dependence.versionMax != nil %}
                            {{ dependence.versionMin}} - {{ dependence.versionMax}}
                          {% elsif dependence.versionMax == nil %}
                            > {{ dependence.versionMin}}
                          {% endif %}
                        {% else %}
                          {% if dependence.versionMax != nil %}
                           > {{ dependence.versionMax}}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    </p>
                  {% endfor %}
                  {% for dependence in page.dependencies.proprietary %}
                    <p class="platforms">
                      {{ dependence.name }}

                      {% if dependence.version != nil %}
                        {{ dependence.version}}
                        {% if dependence.versionMin != nil %}
                          / {{ dependence.versionMin}}
                          {% if dependence.versionMax != nil %}
                           - {{ dependence.versionMax}}
                          {% endif %}
                        {% endif %}
                      {% elsif dependence.version == nil %}
                        {% if dependence.versionMin != nil %}
                          {% if dependence.versionMax != nil %}
                            {{ dependence.versionMin}} - {{ dependence.versionMax}}
                          {% elsif dependence.versionMax == nil %}
                            > {{ dependence.versionMin}}
                          {% endif %}
                        {% else %}
                          {% if dependence.versionMax != nil %}
                           > {{ dependence.versionMax}}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    </p>
                  {% endfor %}
                  {% for dependence in page.dependencies.hardware %}
                    <p class="platforms">
                      {{ dependence.name }}

                      {% if dependence.version != nil %}
                        {{ dependence.version}}
                        {% if dependence.versionMin != nil %}
                          / {{ dependence.versionMin}}
                          {% if dependence.versionMax != nil %}
                           - {{ dependence.versionMax}}
                          {% endif %}
                        {% endif %}
                      {% elsif dependence.version == nil %}
                        {% if dependence.versionMin != nil %}
                          {% if dependence.versionMax != nil %}
                            {{ dependence.versionMin}} - {{ dependence.versionMax}}
                          {% elsif dependence.versionMax == nil %}
                            > {{ dependence.versionMin}}
                          {% endif %}
                        {% else %}
                          {% if dependence.versionMax != nil %}
                           > {{ dependence.versionMax}}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    </p>
                  {% endfor %}
                </p>
              </div>
              <div class="col-md">
                <p>
                  <span class="label">{{ t.software.enabling_platforms }}</span>
                  {% if page.it.pagopa == true %}
                  <a href="/{{ active_lang }}/pagopa" class="enabling_platforms">
                    PagoPA
                  </a>
                  {% endif %}
                  {% if page.it.spid == true %}
                  <a href="/{{ active_lang }}/spid" class="enabling_platforms">
                    Spid
                  </a>
                  {% endif %}
                  {% if page.it.cie == true %}
                  <a href="/{{ active_lang }}/cie" class="enabling_platforms">
                    Cie
                  </a>
                  {% endif %}
                  {% if page.it.anpr == true %}
                  <a href="/{{ active_lang }}/anpr" class="enabling_platforms">
                    Anpr
                  </a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="main row">
            <a data-toggle="collapse" href="#mainOthersInfo" role="button" aria-expanded="false" aria-controls="mainOthersInfo" class="d-block d-md-none controls">
               {{ t.software.others_info }}
              <span class="or">&or;</span>
              <span class="and">&and;</span>
            </a>
            <div id="mainOthersInfo" class="collapse col-md-3 dont-collapse-md">
              {% if page.intendedAudience.onlyFor != nil %}
                <div class="other-detail">
                  <p><span class="label">{{ t.software.main_audience }}</span>
                    {% for audience in page.intendedAudience.onlyFor %}
                      {% include set-audience.html label=audience %}
                    {% endfor %}
                  </p>
                </div>
              {% endif %}
              {% if page.localisation.localisationReady == true %}
              <div class="other-detail">
                <p><span class="label">{{ t.software.supported_languages }}</span>
                 {% for language in page.localisation.availableLanguages %}
                    {% include set-language-supported.html label=language %}
                  {% endfor %}
                </p>
              </div>
              {% endif %}
              {% if page.description[active_lang_extended].awards == true %}
                <div class="other-detail">
                  <p><span class="label">{{ t.software.awards }}</span>
                   {% for award in page.description[active_lang_extended].awards %}
                      <a href="#">{{ award }}</a>
                    {% endfor %}
                  </p>
                </div>
              {% elsif page.description.eng.awards == true  %}
                <div class="other-detail">
                  <p><span class="label">{{ t.software.awards }}</span>
                    {% for award in page.description.eng.awards %}
                      <a href="#">{{ award }}</a>
                    {% endfor %}
                  </p>
                </div>
              {% elsif page.description.eng.awards == false  %}
                {% if description['awards'] != nil %}
                  <div class="other-detail">
                    <p><span class="label">{{ t.software.awards }}</span>
                      {% for award in description['awards'] %}
                        <a href="#">{{ award }}</a>
                      {% endfor %}
                    </p>
                  </div>
                {% endif %}
              {% endif %}
              {% if page.description[active_lang_extended].apiDocumentation != nil %}
                <div class="other-detail">
                  <p><span class="label">{{ t.software.api_documentation }}</span>
                   <a href="{{ page.description[active_lang_extended].apiDocumentation }}">{% if page.description[active_lang_extended].localisedName != nil %}{{ page.description[active_lang_extended].localisedName }} {% else %} {{ page.title }} {% endif %} API</a>
                  </p>
                </div>
              {% elsif page.description.eng.apiDocumentation != nil  %}
                <div class="other-detail">
                  <p><span class="label">{{ t.software.api_documentation }}</span>
                   <a href="{{ page.description.eng.apiDocumentation }}">{% if page.description.eng.localisedName != nil %}{{ page.description.eng.localisedName }} {% else %} {{ page.title }} {% endif %} API</a>
                  </p>
                </div>
              {% elsif page.description.eng.apiDocumentation == nil %}
                {% if description['apiDocumentation'] != nil %}
                  <div class="other-detail">
                    <p><span class="label">{{ t.software.api_documentation }}</span>
                     <a href="{{  description['apiDocumentation'] }}">{% if description['localisedName'] != nil %}{{ description['localisedName'] }} {% else %} {{ page.title }} {% endif %} API</a>
                    </p>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <div class="col-md-8 col-offset-md-1 page-detail">
              <p class="title">{{ t.software.extende_description }}</p>
              <p class="font-serif page-detail__text">
                {% if page.description[active_lang_extended].longDescription != nil %}
                  {{ page.description[active_lang_extended].longDescription }}
                {% elsif page.description.eng.longDescription != nil  %}
                  {{ page.description.eng.longDescription }}
                {% elsif page.description.eng.longDescription == nil %}
                  {{ description['longDescription'] }}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
