.u-color-blue {
  color: #06c !important;
}

.u-background-blue {
  background-color: #06c !important;
}

.u-color-dimmedgrey {
  color: rgba(90, 103, 114, 0.5);
}

.u-background-lightgrey {
  background-color: #f6f9fc;
}

.u-color-dimmedwhite {
  color: rgba(255, 255, 255, 0.5);
}

.Header-banner,
.Linklist-link.Linklist-link--lev1,
.Linklist-link.Linklist-link--lev1:hover,
.u-background-90 {
  padding: 0 !important;
}

.Header-banner > .Header-content > .Header-owner > a {
  border-color: rgba(255, 255, 255, 0.1) !important;
  margin-left: 0 !important;
}

.Badge {
  background-color: #428fdb;
  border-radius: 100px;
  font-size: 11px;
  padding: 1px 8px;
  vertical-align: super;
}

#newsletter {
  background: linear-gradient(#06c, #f6f9fc);
}

#divisore-progetti-notizie {
  background: linear-gradient(#f6f9fc, #fff);
}

#divisore-notizie-strumenti {
  background: linear-gradient(#fff, #0360be);
}

.Card > .Card-content {
  height: 100%;
}

.Card > .Card-content > .Card-footer {
  bottom: 0;
}

#strumenti {
  background: linear-gradient(134.04deg, #005bb6 0%, #0565c6 53.06%, #05509a 100%);
}
