header {
  background-color: #06c !important;
}

.Header-banner,
.Linklist-link.Linklist-link--lev1,
.Linklist-link.Linklist-link--lev1:hover,
.u-background-90 {
  background-color: #06c !important;
  padding: 0 !important;
}

.Header-banner > .Header-content > .Header-owner > a {
  border-color: rgba(255, 255, 255, 0.1) !important;
  margin-left: 0 !important;
}

.Bullets > li::before,
.Header-navbar,
.Share-revealIcon,
.Share > ul > li,
.u-background-50 {
  background-color: #06c !important;
}

.Megamenu--default {
  background-color: #06c !important;
}

.Badge {
  background-color: #428fdb;
  border-radius: 100px;
  color: #06c;
  font-size: 11px;
  padding: 1px 8px;
  vertical-align: middle;
}

.Header-socialIcons img {
  vertical-align: middle;
}

#cta,
#newsletter {
  background-color: #06c;
  color: white;
  text-align: center;
}

#newsletter {
  background: linear-gradient(#06c, #f6f9fc);
}

#progetti {
  background-color: #f6f9fc;
}

#progetti .u-text-r-l,
#progetti a {
  color: #06c;
}
