on:
  schedule:
    - cron: '0 6 * * *'
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NOKOGIRI_USE_SYSTEM_LIBRARIES: "true"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Setup ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - run: npm ci --legacy-peer-deps

      - run: make download-data
      - run: make jekyll-build
        env:
           ELASTICSEARCH_PASS: ${{ secrets.ELASTICSEARCH_PASS }}
           ELASTICSEARCH_USER: ${{ secrets.ELASTICSEARCH_USER }}
           ELASTICSEARCH_URL: "https://elasticsearch.developers.italia.it"

      - run: cp -r .well-known _site/

        # Make GitHub skip its Jekyll support and serve all the files
        # we built with our own Jekyll. This includes dotfiles.
      - run: touch _site/.nojekyll

      - run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git

          echo developers.italia.it > _site/CNAME
          npm run deploy -- --dotfiles -m "Automated deployment: ${GITHUB_SHA} [ci skip]"
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
